@mixin background-position($background-position) {
    -moz-background-position: ($background-position);
    -o-background-position: ($background-position);
    background-position: ($background-position);
}

@mixin background-attachment($background-attachment) {
    -moz-background-attachment: ($background-attachment);
    -o-background-attachment: ($background-attachment);
    background-attachment: ($background-attachment);
}

@mixin background-size($background-size) {
    -webkit-background-size: ($background-size);
    -moz-background-size: ($background-size);
    -o-background-size: ($background-size);
    background-size: ($background-size);
}

@mixin animation($animation) {
    -webkit-animation: ($animation);
    -moz-animation: ($animation);
    -o-animation: ($animation);
    animation: ($animation);
}

@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: ($box-shadow);
    -moz-box-shadow: ($box-shadow);
    -o-box-shadow: ($box-shadow);
    box-shadow: ($box-shadow);
}

@mixin filter($filter) {
    -webkit-filter: ($filter);
    -moz-filter: ($filter);
    -o-filter: ($filter);
    filter: ($filter);
}

@mixin transition($transition) {
    -webkit-transition: ($transition);
    -moz-transition: ($transition);
    -o-transition: ($transition);
    transition: ($transition);
}

@mixin transform($transform) {
    -webkit-transform: ($transform);
    -moz-transform: ($transform);
    -o-transform: ($transform);
    transform: ($transform);
}