@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600,700,900&subset=latin-ext");
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  padding-top: 107px;
}

@media (min-width: 1200px) {
  .container {
    &.wide {
      max-width: 1200px;
    }
    max-width: 1170px;
  }
}

@media (max-width: 1199.9px) {
  body {
    padding-top: 165px;
  }
}

.row {
  margin: 0px;
}

// Placeholders
::-webkit-input-placeholder {
  color: rgb(179, 179, 179);
  font-family: 'my-font', "Lato", sans-serif;

 }
 :-moz-placeholder {
  color: rgb(179, 179, 179);
  opacity:  1;
  font-family: 'my-font', "Lato", sans-serif;

 }
 ::-moz-placeholder {
  color:  rgb(179, 179, 179);
  opacity:  1;
  font-family: 'my-font', "Lato", sans-serif;

 }
 :-ms-input-placeholder {
  color: rgb(179, 179, 179);
  font-family: 'my-font', "Lato", sans-serif;

 }

// Links, buttons, inputs type submit
a,
button,
input[type="submit"] {
  @include transition(0.5s all ease);
}

a:hover,
a:focus {
  text-decoration: none;
}

.opacity-0 {
  opacity: 0;
}

// Margin, padding
.no-margin {
  margin: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

// Text aligment
.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

// Display
.flex {
  display: flex;
  align-items: center;
}

// Element position
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// wp align img
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
