/*
		Table of contents
		1. Import
		2. Variables
		3. Global
		4. Footer
		5. Menu
		6. Home
		7. Newspage
		8. Sidebar
		9. My account
		10. Single product
		11. Product category
		12. Cart
		13. Checkout
		14. Order
		15. Log / Register
*/

// 1. Import
@import "mixin";
@import "settings";
// 2. Variables
$light-black: rgb(26, 26, 26);
$red: rgb(116, 14, 18);
$orange: rgb(241, 137, 40);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$font-gray: rgb(169, 169, 169);
$font-light-gray: rgb(245, 245, 245);
$font-black-gray: rgb(79, 79, 79);

// 3. Global
.commercial-place {
	&.chosen-product-commercial {
		.col-md-6 {
			margin-bottom: 25px;
		}
	}
}

.fixed-link {
	position: fixed;
	right: 0;
	top: 235px;
	z-index: 5;

	.orange-circle {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: $orange;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -40px;
		right: -5px;
		z-index: 2;
	}

	p {
		@include transform(rotate(-90deg));
		text-orientation: mixed;
		color: $white;
		background-color: $red;
		padding: 20px 40px 20px 20px;
		margin: 0;
		line-height: 1;
		text-transform: uppercase;
		font-size: 14px;
		position: relative;
		z-index: 1;
		right: -61px;
		top: 61px;
	}
}

.custom-inputs {
	.input-wrapper {
		position: relative;
		padding-left: 25px;
		line-height: 1;
		margin-bottom: 15px;
		font-size: 15px;
		cursor: pointer;
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.custom-input {
		position: absolute;
		top: 0;
		left: 0;
		width: 15px;
		height: 15px;
		border: 1px solid rgb(229, 229, 229);
		border-radius: 3px;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			border: 3px solid #fff;
			border-radius: 1px;
		}
	}

	.input-wrapper input:checked~.custom-input {
		background-color: $orange;
	}
}

.filters {
	display: none;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 0;
	margin: 10px 0 20px;
	color: $red;
	border: 1px solid $red;
}

blockquote {
	padding: 20px 90px;
	margin: 50px 0;
	position: relative;

	p {
		font-size: 18px !important;
		color: $red !important;
	}

	&::before {
		content: "";
		width: 45px;
		height: 100%;
		background-color: $red;
		position: absolute;
		top: 0;
		left: 0;
	}

	&::after {
		content: "";
		width: 15px;
		height: 100%;
		background-color: $orange;
		position: absolute;
		top: 0;
		left: 45px;
	}
}

.page-content {
	padding: 40px 15px;

	table {
		margin-bottom: 15px;

		th,
		td {
			padding: 7px 10px;
			border: 1px solid #e5e5e5;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $black;
		margin: 15px 0;
		font-weight: 700;
	}

	ul {
		margin: 0;
		padding: 0;
		padding-left: 10px;
		list-style: none;
		margin-bottom: 30px;

		li {
			padding-left: 15px;
			margin-bottom: 15px;
			position: relative;
			font-size: 15px;
			color: #4f4f4f;
			line-height: 1;

			&::before {
				content: "\f105";
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				color: $orange;
				position: absolute;
				left: 0;
				top: 0;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				line-height: 1;
			}
		}
	}

	a {
		color: $red;
	}

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset: order-blog;
		margin-bottom: 30px;

		li {
			padding-left: 30px;
			position: relative;
			margin-bottom: 15px;
			font-weight: 400;
			font-size: 15px;
			color: #4f4f4f;
			line-height: 1;

			&::before {
				counter-increment: order-blog;
				content: counter(order-blog);
				color: $black;
				position: absolute;
				left: 0;
				top: 0;
				height: 20px;
				width: 20px;
				background-color: $orange;
				color: $white;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 12px;
			}
		}
	}

	p {
		font-size: 15px;
		color: $font-black-gray;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 9;
	display: none;

	&.show {
		display: block;
	}
}

.breadcrumbs {
	background-color: $red;
	margin-bottom: 25px;

	p {
		margin: 0;
		color: $white;
		font-size: 14px;
		padding: 15px 0;
		line-height: 1;
	}

	a {
		color: $white;
	}

	i {
		color: $orange;
		padding: 0 5px;
	}
}

.light-black-bg {
	background-color: $light-black;
}

.orange-bg {
	background-color: $orange;
}

.black-bg {
	background-color: $black;
}

.red-bg {
	background-color: $red;
}

.border-bottom-gray {
	border-bottom: 1px solid $font-light-gray;
}

.commercial-place {
	img {
		width: 100%;
		height: auto;
	}
}

.product-label-wrapper {
	position: absolute;
	top: 5px;
	left: 23px;
}

.product-label {
	color: $white;
	font-size: 10px;
	display: block;
	border-radius: 3px;
	padding: 5px;
	text-transform: uppercase;
	margin-top: 3px;
	text-align: center;

	&.red {
		background-color: red;
	}

	&.green {
		background-color: green;
	}

	&.pink {
		background-color: magenta;
	}

	&.orange {
		background-color: $orange;
	}
}

.shop-product {
	padding: 0 10px;
}

.shop-button {
	color: $white;
	text-transform: uppercase;
	display: block;
	text-align: center;
	border-radius: 3px;
	margin: 0 auto;

	&:hover {
		color: $white;
	}

	&.orange {
		background-color: $orange;
	}
}

.narrow-section {
	flex: 0 0 100%;
	max-width: 100%;
}

.wide-section {
	flex: 0 0 40%;
	max-width: 40%;
}

.wide-product {
	border-radius: 3px;
	position: relative;
	margin-bottom: 21px;

	.shop-button {
		width: 215px;
		height: 55px;
		line-height: 55px;
		font-size: 18px;
		margin: 30px auto 25px;
	}

	.price-wrapper {
		text-align: center;
		line-height: 1;

		.promotion-price {
			display: none;
		}

		.price {
			display: inline-block;
			font-size: 36px;
			color: $red;
			font-weight: 700;
		}

		&.promotion {
			.price {
				font-size: 20px;
				color: $black;
				display: inline-block;
				text-decoration: line-through;
			}

			.promotion-price {
				display: inline-block;
				font-size: 36px;
				color: $red;
				font-weight: 700;
			}
		}
	}

	.inner {
		border: 1px solid #e5e5e5;
		padding: 0 15px;
	}

	.title {
		padding: 0 10px;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 700;
		height: 109.5px;
		line-height: 1.3;
	}

	img {
		padding-top: 170px;
		margin: 0 auto 120px;
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.narrow-product {
	border-radius: 3px;
	position: relative;
	margin-bottom: 21px;

	.inner {
		border: 1px solid #e5e5e5;
		height: 100%;
	}

	.price {
		font-size: 18px;
		color: $red;
		display: block;
		text-align: center;
		font-weight: 700;
		line-height: 1;
		margin-top: 5px;
		height: 32px;

		.old-price {
			font-size: 14px;
			color: #000;
			margin-right: 5px;
			display: block;
		}
	}

	.shop-button {
		width: 115px;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
		margin: 20px auto 20px;
	}

	.title {
		padding: 0 10px;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;
		color: black;
		height: 50px;
		line-height: 1.3;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	img {
		margin: 0 auto;
		display: block;
		max-width: 100%;
		height: auto;
	}

	.img-wrapper {
		height: 165px;
		margin: 20px 0 10px;
		display: block;
	}
}

.square-header {
	padding-left: 30px;
	position: relative;
	color: $black;
	font-size: 26px;
	margin-bottom: 30px;
	display: block;
	line-height: 1;
	font-weight: 700;

	&::before {
		content: "";
		width: 18px;
		height: 26px;
		background-color: $red;
		position: absolute;
		left: 0;
		top: 0;
	}

	&.small {
		font-size: 15px;
		padding-left: 10px;

		&::before {
			height: 15px;
			width: 5px;
		}
	}
}

.popular-categories {
	&.category-product-popular-categories {
		padding-top: 50px;
	}

	&.home {
		padding-top: 0;
	}

	.content-hover {
		display: block;

		&:hover {
			-webkit-box-shadow: 0px 0px 35px 0px rgba(116, 14, 17, 1);
			-moz-box-shadow: 0px 0px 35px 0px rgba(116, 14, 17, 1);
			box-shadow: 0px 0px 35px 0px rgba(116, 14, 17, 1);
		}
	}

	.header {
		text-transform: uppercase;
		color: $red;
		display: block;
		font-size: 18px;
		line-height: 1;

		.main-title {
			color: $black;
			font-size: 22px;
			font-weight: 700;
			display: block;
			margin-top: 10px;
		}

		.line {
			margin: 0;
			margin-top: 15px;
			border: none;
			border-top: 2px solid $red;
			width: 50px;
		}
	}

	.big {
		.box {
			height: 475px;
			background-repeat: no-repeat;
			background-position: bottom right;
			padding: 30px;
			background-color: rgb(245, 245, 245);
		}
	}

	.medium {
		.box {
			height: 225px;
			background-color: rgb(245, 245, 245);
			padding: 30px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	.four-boxes {
		.inner {
			height: 225px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: bottom right;
			padding: 30px;
			background-color: rgb(245, 245, 245);
			display: block;
		}

		.box {
			padding: 0 15px;
		}
	}

	.box {
		margin-bottom: 25px;
	}
}

.online-platform {
	background-color: $red;
	padding: 30px 0;
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;

	img {
		position: relative;
		left: -105px;
	}

	.content {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
	}

	.text {
		display: block;
		color: white;
		font-size: 32px;
		line-height: 1.1;
		font-weight: 300;
		margin-bottom: 0;

		span {
			font-weight: 700;
			text-transform: uppercase;
			display: block;
			font-size: 54px;
			margin-top: 15px;
			margin-bottom: 30px;
		}
	}
}

.link {
	color: $orange;
	text-decoration: underline;

	&:hover {
		color: $orange;
	}
}

// FontFamily in placeholder
.useFontAwesomeFamily::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	font-family: "Font Awesome 5 Brands" !important;
	font-weight: 900 !important;
}

.useFontAwesomeFamily:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-family: "Font Awesome 5 Brands" !important;
	font-weight: 900 !important;
}

.useFontAwesomeFamily::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-family: "Font Awesome 5 Brands" !important;
	font-weight: 900 !important;
}

.useFontAwesomeFamily:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-family: "Font Awesome 5 Brands" !important;
	font-weight: 900 !important;
}

.useFontAwesomeFamily::-ms-input-placeholder {
	/* Microsoft Edge */
	font-family: "Font Awesome 5 Brands" !important;
	font-weight: 900 !important;
}

.useFontAwesomeFamily::placeholder {
	/* Most modern browsers */
	font-family: "Font Awesome 5 Brands" !important;
	font-weight: 900 !important;
}

.small-big-header-wrapper {
	.header {
		text-transform: uppercase;
		line-height: 1;
		margin: 0;
		margin-bottom: 10px;
		text-align: center;

		&.small {
			font-size: 18px;
			display: block;
			font-weight: 700;
		}

		&.big {
			font-size: 30px;
			display: block;
			margin-bottom: 50px;
			font-weight: 900;
		}
	}

	&.black {
		.small {
			color: $red;
		}

		.big {
			color: $black;
		}
	}
}

.small-button {
	display: inline-block;
	color: $white;
	text-transform: uppercase;
	border-radius: 3px;
	border: none;
	outline: none;
	text-align: center;
	height: 36px;
	line-height: 36px;
	width: 145px;
	font-size: 14px;

	&.order {
		color: $white !important;
	}

	&.orange {
		background-color: $orange;

		&:hover {
			color: $white;
			opacity: 0.9;
		}
	}

	&.black {
		background-color: $black;

		&:hover {
			color: $white;
			opacity: 0.9;
		}
	}
}

.button-arrow {
	border-radius: 3px;
	width: 190px;
	height: 46px;
	display: inline-flex;
	text-decoration: none;
	color: $white;
	text-align: left;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px 0 20px;
	text-transform: uppercase;
	font-size: 14px;

	&.black {
		background-color: $black;

		&:hover {
			color: $black;
			background-color: $white;
		}
	}

	&.orange {
		background-color: $orange;

		&:hover {
			color: $orange;
			background-color: $white;
		}
	}
}

.news {
	.row {
		padding: 0 15px;
	}

	.single-news {
		margin-bottom: 70px;

		&:hover {
			background-color: rgb(245, 245, 245);

			.title {
				color: $red;
			}
		}

		.inner {
			padding: 15px;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			text-decoration: none;
		}

		.text {
			width: calc(100% - 95px);
			padding-left: 15px;
			font-size: 18px;
			font-weight: 900;
		}

		.date {
			display: inline-block;
			width: 100%;
			color: gray;
			font-size: 14px;
			font-weight: 400;
		}

		.title {
			color: $black;
			margin: 0;
		}

		.arrow {
			color: $orange;
		}
	}
}

ul,
ol {
	margin: 0;
	padding: 0;
}

.pagination {
	justify-content: center;
	padding: 0 15px;

	.pagination-numbers {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	.page-item {
		margin: 0 5px;

		.page-link {
			width: 39px;
			height: 39px;
			border: 1px solid $font-gray;
			color: $font-gray;
			border-radius: 3px;
			padding: 0;
			display: flex;
			align-items: center;
			font-size: 15px;
			justify-content: center;
		}

		&.active {
			.page-link {
				background: $red;
				color: $white;
				border-color: $red;
			}
		}

		&.prev,
		&.next {
			.page-link {
				background-color: $black;
				color: $white;
				border-color: transparent;
			}
		}

		.hidden-sm-down {
			display: none !important;
		}
	}
}

@media (max-width: 1440px) {
	.online-platform {
		img {
			max-width: 100%;
			height: auto;
			left: 0;
		}
	}
}

@media (max-width: 1366px) {
	.online-platform {
		img {
			max-width: 75%;
		}

		.row {
			align-items: center;
		}
	}
}

@media (max-width: 1199.9px) {
	.wide-product {
		img {
			padding-top: 90px;
			margin: 0 auto 30px;
		}

		.inner {
			padding: 0 10px;
		}

		.title {
			padding: 0 5px;
		}

		.price-wrapper {
			&.promotion {
				.promotion-price {
					font-size: 30px;
				}
			}
		}
	}

	.popular-categories {
		.header {
			font-size: 16px;

			.main-title {
				font-size: 18px;
			}
		}

		.four-boxes {
			.inner {
				padding: 15px;
			}
		}

		.big {
			.box {
				padding: 15px;
			}
		}

		.medium {
			.box {
				padding: 15px;
			}
		}
	}

	.wide-section {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.narrow-section {
		flex: 0 0 100%;
		max-width: 100%;

		.title {
			padding: 0 10px;
		}
	}

	.online-platform {
		.row {
			height: calc(100vh - 87px);
		}

		.text {
			font-size: 22px;

			span {
				font-size: 40px;
			}
		}
	}
}

@media (max-width: 991.9px) {
	.online-platform {
		.row {
			height: auto;
			padding: 30px 0;
		}
	}

	.filters {
		display: block;
	}

	.narrow-product {
		max-width: 50%;
		flex: 0 0 50%;
	}

	.shop-product {
		padding: 0 15px;
	}
}

@media (max-width: 767.9px) {
	.small-big-header-wrapper {
		.header {
			&.big {
				font-size: 24px;
			}
		}
	}

	.news {
		.single-news {
			margin-bottom: 35px;
		}
	}

	.online-platform {
		img {
			display: none;
		}
	}

	.popular-categories {
		.big {
			.box {
				height: 350px;
				background-size: contain;
			}
		}

		.four-boxes {
			.inner {
				height: 240px;
			}
		}
	}
}

@media (max-width: 575.9px) {
	.breadcrumbs {
		p {
			padding: 15px;
		}
	}

	.container {
		padding: 0;

		&.page-content {
			padding: 40px 0;
		}
	}

	blockquote {
		padding: 15px 30px 15px 55px;
		margin: 30px 0;

		&::before {
			width: 30px;
		}

		p {
			font-size: 16px !important;
		}

		&::after {
			width: 10px;
			left: 30px;
		}
	}

	.online-platform {
		.text {
			font-size: 15px;

			span {
				font-size: 25px;
			}
		}
	}

	.news {
		.single-news {
			.inner {
				padding: 10px 0px;
			}

			.text {
				font-size: 14px;
			}

			.date {
				font-size: 13px;
			}
		}
	}

	.popular-categories {
		.header {
			font-size: 14px;

			.main-title {
				font-size: 15px;
			}
		}

		.four-boxes {
			.inner {
				height: 200px;
			}
		}

		.big {
			.box {
				height: 200px;
			}
		}
	}

	.shop-product {
		padding: 0 5px;
	}

	.narrow-product {
		.shop-button {
			width: 105px;
		}
	}
}

@media (max-width: 425px) {
	.popular-categories {
		.four-boxes {
			.box {
				max-width: 100%;
				flex: 0 0 100%;
			}
		}
	}
}

// 4. Footer
.newsletter {
	.inner {
		align-items: center;
		padding: 20px 15px;
		color: $white;
	}

	.text {
		padding-left: 40px;
		padding-right: 30px;
		display: inline-block;
		font-size: 14px;
	}

	.email-wrapper {
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		position: relative;

		&::before {
			content: "";
			background-image: url("../img/envelope.png");
			width: 19px;
			height: 15px;
			background-repeat: no-repeat;
			position: absolute;
			top: calc(50% - 7.5px);
			left: 10px;
		}

		.email-input {
			background-color: rgb(74, 12, 13);
			border: none;
			border-bottom: 1px solid transparent;
			outline: none;
			height: 36px;
			width: 250px;
			color: $white;
			padding-left: 40px;
		}

		.small-button {
			margin-right: 25px;
		}

		label {
			margin: 0;
			padding-left: 10px;
			font-size: 12px;
		}
	}
}

.footer {
	.line {
		margin: 0;
		border-top: 1px solid #313131;
	}

	.company-info {
		display: flex;
		align-items: center;
		justify-content: center;

		.text {
			color: $font-gray;
			font-size: 14px;
			padding-left: 30px;
		}
	}

	.designer {
		p {
			margin: 0;
			color: $font-gray;
			font-size: 14px;
			padding-right: 15px;
			display: inline-block;
		}

		img {
			display: inline-block;
		}
	}

	.footer-logo {
		display: inline-block;
	}

	.header {
		color: $white;
		margin: 0;

		&.upper-case {
			text-transform: uppercase;
		}

		&.top-footer-header {
			margin-bottom: 20px;
		}
	}

	.contact-info {
		li {
			padding-bottom: 30px;
			position: relative;
			padding-left: 55px;

			img {
				max-width: 100%;
				height: auto;
				position: absolute;
				left: 0;
				top: 5px;
			}
		}

		p {
			margin-bottom: 0;
		}

		.main-text {
			color: $white;
		}

		.sub-text {
			color: $font-gray;
		}
	}

	.top-footer {
		padding-top: 45px;
	}

	ul {
		list-style-type: none;
	}

	.footer-default-list {
		li {
			margin-bottom: 15px;

			a {
				color: $font-gray;
			}
		}
	}

	.footer-fb-list {
		li {
			padding-left: 50px;
			position: relative;
			margin-bottom: 15px;
			min-height: 40px;
			display: flex;
			align-items: center;
			padding: 0 15px 0 50px;

			&::before {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				content: " ";
				background-image: url("../img/facebook.svg");
				background-size: 40px 40px;
				height: 40px;
				width: 40px;
			}

			a {
				color: $font-light-gray;
				display: inline-block;
				word-break: break-all;
			}
		}
	}

	.bottom-footer {
		.inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px;
		}
	}

	.footer-bottom-menu {
		li {
			display: inline-block;
			padding: 0 10px;
			border-right: 1px solid #313131;
			line-height: 1;
			font-size: 14px;

			&:last-of-type {
				border-color: transparent;
			}

			a {
				color: $font-gray;
			}
		}
	}
}

@media (max-width: 1300px) {
	.newsletter {
		.text {
			padding-left: 20px;
		}
	}
}

@media (max-width: 1199.9px) {
	.footer {
		.top-footer {
			padding-top: 50px;
		}

		.footer-bottom-menu {
			li {
				&:last-of-type {
					padding-right: 0;
				}
			}
		}
	}
}

@media (max-width: 991.9px) {
	.footer {
		.footer-menu-wrapper {
			margin-bottom: 15px;
		}

		.company-info {
			order: 1;
		}

		.designer {
			order: 2;
			margin-top: 20px;
		}

		.footer-bottom-menu {
			li {
				&:first-of-type {
					padding-left: 0;
				}
			}
		}

		.bottom-footer {
			.inner {
				flex-flow: column wrap;
				justify-content: flex-start;
				align-items: center;
			}
		}
	}
}

@media (max-width: 575.9px) {
	.footer {
		.company-info {
			.text {
				font-size: 13px;
				padding-left: 10px;
			}
		}

		.bottom-footer {
			.inner {
				align-items: flex-start;
			}
		}

		.footer-bottom-menu {
			li {
				width: 100%;
				display: block;
				margin-bottom: 15px;
				border: none;
				padding: 0;
			}
		}

		.footer-fb-list {
			display: block;

			li {
				width: 100%;
			}
		}
	}
}

// 5. Menu
.search {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 100;
	display: none;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	button {
		background: transparent;
		outline: none;
		color: $white;
		font-size: 24px;
		text-transform: uppercase;
		border: none;
		width: 100%;
		text-align: center;
		letter-spacing: 0.05em;
		margin-top: 25px;
		cursor: pointer;
	}

	&.show {
		display: flex;
	}
}

.search {
	.close-search-wrapper {
		position: absolute;
		top: 100px;
		right: 200px;
	}

	.close-search {
		font-size: 50px;
		color: $white;
		cursor: pointer;
	}
}

.search-wrapper {
	padding: 0 150px;
	width: 100%;

	input {
		background: none;
		outline: none;
		border: none;
		width: 100%;
		height: 50px;
		border-bottom: 2px solid #fff;
		color: $font-gray;
		font-size: 24px;
		font-weight: 400;
	}
}

.icon-bar {
	width: 30px;
	height: 4px;
	margin-bottom: 5px;
	background-color: $red;
	display: block;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.close-mobile-menu-wrapper {
	display: none;

	.close-menu {
		position: absolute;
		right: -25px;
		top: 0;
		z-index: 10;
		cursor: pointer;
		@include transition(0.25s all ease);
		opacity: 0;
		width: 25px;
		height: auto;
	}
}

.navbar-toggler {
	outline: none !important;
	padding: 0;

	img {
		width: 35px;
		height: auto;
		position: relative;
		top: 3px;
	}
}

.navbar-collapse {
	padding-left: 70px;
	flex-basis: auto;
}

.social-section {
	margin-left: auto;
	display: flex;
	flex-flow: row wrap;
	position: absolute;
	right: 30px;

	a {
		display: inline-block;
		margin-right: 18px;
		position: relative;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.shop {
		position: relative;

		.number-of-items {
			display: flex;
			width: 21px;
			height: 21px;
			border-radius: 50%;
			line-height: 1;
			align-items: center;
			justify-content: center;
			color: $white;
			font-size: 12px;
			position: absolute;
			top: -5px;
			right: -12px;
			z-index: 1;
			background-color: $orange;
		}
	}
}

.navbar-brand {
	margin: 0;
	padding: 0;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: #fff;
	z-index: 99;
	@include transition(0.5s all ease);

	&.sticky {
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);

		.navbar-expand-xl {
			@include transition(0.5s all ease);
			padding: 10px 0;
		}

		.top-bar {
			padding: 0;
			height: 0;
		}

		.close-mobile-menu-wrapper {
			.close-menu {
				top: 30px;
			}
		}
	}

	.container {
		justify-content: flex-start;
		padding: 0 30px;
		position: relative;
	}
}

.navbar-expand-xl {
	padding: 10px 0;

	.navbar-nav {
		flex-flow: row wrap;
		padding-left: 60px;
		padding-right: 190px;

		.menu-item {
			margin: 0px 10px;
			flex-grow: 1;

			a {
				color: $red;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 700;
			}
		}

		.dropdown-menu {
			width: 100%;
			min-width: 200px;
			padding: 0;
			padding: 0;
			border-radius: 0;

			.menu-item {
				margin: 0;

				&:last-of-type {
					a {
						border: none;
					}
				}

				a {
					border-bottom: 1px solid rgba(0, 0, 0, .15);
					padding: 4px 7px;
					display: block;
					text-transform: none;
				}
			}
		}

	}
}

.top-bar {
	line-height: 1;
	padding: 8px 0;
	font-size: 14px;
	@include transition(250ms all ease);

	p {
		color: $white;
		margin-bottom: 0;
	}

	a {
		color: $white;
	}
}

@media (max-width: 1199.9px) {
	.search {
		.close-search-wrapper {
			right: 100px;
		}
	}

	.close-mobile-menu-wrapper {
		display: block;
	}

	.navbar-expand-xl {
		padding: 15px 0;

		.navbar-nav {
			flex-flow: column wrap;
			padding-right: 15px;

			.menu-item {
				margin: 7.5px 10px;

				a {
					font-size: 16px;
				}
			}
		}
	}

	.social-section {
		margin-left: 0;
		position: static;
	}

	.top-bar {
		text-align: center;
	}

	.menu {
		position: fixed;
		top: 0;
		width: 100%;
		background: #fff;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
		overflow: hidden;
		z-index: 10;

		&.sticky {
			.navbar-brand {
				height: 0;
				padding: 0;
				margin: 0;
				@include transition(0.5s all ease);

				img {
					height: 0;
				}
			}
		}

		.container {
			justify-content: center;
			position: static;
		}
	}

	.navbar-brand {
		display: block;
		width: 100%;
		margin-bottom: 10px;

		img {
			margin: 0 auto;
			display: block;
		}
	}

	.navbar-toggler {
		margin-left: 15px;
	}

	.menu-content {
		top: 0;
		position: fixed;
		right: -350px;
		padding: 0;
		z-index: 9;
		width: 350px;
		height: 100vh;
		background-color: $white;
		padding-top: 75px;
		padding-left: 25px;
		opacity: 0;
		@include transition(0.15s all ease);

		&.show {
			right: 0;
			opacity: 1;
			@include transition(0.15s all ease);

			&~.close-mobile-menu-wrapper {
				.close-menu {
					opacity: 1;
					right: 30px;
				}
			}
		}
	}
}

@media (max-width: 991.9px) {
	.search-wrapper {
		padding: 0 75px;
	}
}

@media (max-width: 575.9px) {
	.narrow-product {
		img {
			max-width: 90%;
		}
	}

	.menu-content {
		width: 100%;
		max-width: 320px;
		right: -320px;
	}

	.navbar-expand-xl {
		.navbar-nav {
			padding-left: 0;
		}
	}

	.search-wrapper {
		padding: 0 25px;
	}

	.search {
		button {
			font-size: 17px;
		}

		.close-search-wrapper {
			right: 30px;
		}

		.close-search {
			font-size: 32px;
		}
	}
}

// 6. Home
.main-slider-section {
	.slider-boxes {
		margin: -77px 0 50px;
		position: relative;
		z-index: 2;

		p {
			margin: 0;
			padding-left: 15px;
			font-size: 14px;
			color: $red;
			font-weight: 300;
			line-height: 1.25;

			span {
				width: 100%;
				display: block;
				font-weight: 700;
				font-size: 28px;
			}
		}

		i {
			font-size: 54px;
			color: $orange;
		}

		.inner {
			display: flex;
			align-items: center;
			padding: 30px 15px;
			-webkit-box-shadow: 0px 0px 10px 1px rgba(204, 204, 204, 1);
			-moz-box-shadow: 0px 0px 10px 1px rgba(204, 204, 204, 1);
			box-shadow: 0px 0px 10px 1px rgba(204, 204, 204, 1);
			background-color: $white;
		}
	}

	.slider-wrapper {
		position: relative;
	}

	.owl-carousel {
		.owl-nav {

			.owl-prev,
			.owl-next {
				position: absolute;
				top: calc(50% - 22.5px);
				color: $white;
				font-size: 30px;
			}

			.owl-prev {
				left: 15px;
			}

			.owl-next {
				right: 15px;
			}
		}

		.owl-dots {
			display: flex;
			max-width: 1200px;
			margin: 0 auto;
			text-align: right;
			justify-content: flex-end;
			padding: 0 30px;
			position: relative;
			top: -80px;
		}

		.owl-dot {
			width: 16px;
			height: 16px;
			border: 5px solid;
			border-radius: 50%;
			border-color: $white;
			background: rgb(202, 202, 202);
			margin: 0 2.5px;

			&:last-of-type {
				margin-right: 0;
			}

			&.active {
				background: $red;
			}
		}
	}

	.owl-stage {
		margin: 0 auto;
	}

	.item {
		height: 400px;
		text-align: right;
		@include background-size(cover);
		@include background-position(center);
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		color: $white;

		.container {
			padding: 0 30px;
		}

		p {
			color: $white;
			font-size: 30px;
			margin: 0;
			line-height: 1;

			&:last-of-type {
				font-size: 50px;
				font-weight: 700;
				text-transform: uppercase;
				margin: 10px 0 25px;
			}
		}
	}
}

.clients-about-us {
	background-color: #546775;
	background-image: url("../img/about-us-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 50px 0 0 ;

	.row {
		min-height: 560px;
		align-items: center;
	}

	.image {
		align-self: flex-end;

		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	.content {
		display: flex;
		display: -moz-box;
		flex-flow: column wrap;
		justify-content: center;
		padding-bottom: 45px;
	}

	.title {
		color: $orange;
		font-size: 18px;
		text-transform: uppercase;
		display: block;
		line-height: 1.35;
		margin-bottom: 60px;

		span {
			display: block;
			width: 100%;
			color: $white;
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	.text-wrapper {
		padding: 25px;
		background-color: $white;
		position: relative;
		margin-bottom: 15px;
		border-radius: 3px;

		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-top: 30px solid $white;
			border-left: 1px solid transparent;
			border-right: 36px solid transparent;
			bottom: -30px;
			left: 30px;
		}

		p {
			margin-bottom: 0;
			font-size: 14px;
		}
	}

	.author {
		padding-left: 75px;
		text-transform: uppercase;
		color: $white;
	}

	.owl-carousel {
		&::before {
			content: "";
			background-image: url("../img/quote.png");
			width: 20px;
			height: 19px;
			display: block;
			position: absolute;
			top: -9px;
			left: 13px;
			z-index: 3;
		}

		.owl-nav {

			.owl-prev,
			.owl-next {
				display: inline-flex;
				width: 40px;
				height: 40px;
				background-color: $orange;
				border-radius: 50%;
				align-items: center;
				color: $white;
				justify-content: center;
			}

			.owl-next {
				margin-left: 7px;
			}
		}
	}
}

.news {
	&.home-background {
		padding-top: 40px;
		background-position: bottom center;
		background-size: auto;
		background-repeat: no-repeat;
		background-image: url("../img/news-bg-home.png");
	}
	&.home{
		padding-bottom: 150px;
		.button-arrow{
			display: flex;
			margin: 0 auto;
			&:hover{
				background-color: $red;
				color: #fff;
			}
		}
		.single-news{
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 1366px) {
	.news {
		&.home-background {
			background-image: none !important;
			// @include background-size(contain);
			position: relative;
			padding: 50px 0;

			.background-text {
				display: block;
				color: #cfcfcf;
				text-transform: uppercase;
				font-weight: 900;
				letter-spacing: 0.05em;
				font-size: 5em;
				text-align: center;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}
	}
}

@media (max-width: 1199.9px) {
	.main-slider-section {
		.slider-boxes {
			p {
				span {
					font-size: 23px;
				}
			}
		}

		.item {
			p {
				font-size: 30px;

				&:last-of-type {
					font-size: 46px;
				}
			}
		}
	}
}

@media (max-width: 991.9px) {
	.news {
		&.home-background {
			background-position: top 15px center;

			.background-text {
				font-size: 5em;
			}
		}
	}

	.clients-about-us {
		padding: 25px 0;
		background-position: right;

		.row {
			min-height: auto;
		}

		.content {
			padding-bottom: 0;
		}

		.image {
			display: none;
		}

		.title {
			margin-bottom: 30px;
		}
	}

	.main-slider-section {
		.item {
			.container {
				text-align: center;
			}
		}

		.owl-carousel {
			.owl-dots {
				top: -50px;
				justify-content: center;
			}
		}

		.slider-boxes {
			margin: 5px 0 15px;

			.box {
				margin-bottom: 25px;
			}
		}
	}
}

@media (max-width: 767.9px) {
	.clients-about-us {
		.title {
			span {
				font-size: 24px;
			}
		}
	}

	.news {
		&.home-background {
			padding-top: 75px;

			.background-text {
				font-size: 3em;
			}
		}
	}

	.main-slider-section {
		.item {
			p {
				font-size: 24px;

				&:last-of-type {
					font-size: 34px;
				}
			}
		}
	}
}

@media (max-width: 575.9px) {
	.news {
		&.home-background {
			padding-top: 50px;

			.background-text {
				font-size: 2em;
			}
		}
	}

	.main-slider-section {
		.item {
			height: calc(100vh - 173px);
		}

		.slider-boxes {
			p {
				span {
					font-size: 20px;
				}
			}
		}

		.item {
			p {
				font-size: 17px;

				&:last-of-type {
					font-size: 20px;
				}
			}
		}
	}
}

// 7. News page

.single-post{
	&.page-content{
		padding-top: 0;
	}
}
.page-news {
	padding-bottom: 80px;

	.news {
		.row {
			padding: 0;
		}
	}

	.content {
		padding-right: 65px;
	}

	.sidebar {
		padding-left: 65px;
	}

	.main-news {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 70px;
		padding: 0 15px;

		img {
			max-width: 100%;
		}

		.inner {
			display: block;
		}

		.date {
			display: inline-block;
			width: 100%;
			color: gray;
			margin-bottom: 10px;
			font-size: 14px;
		}

		.text {
			width: calc(100% - 350px);
			padding-left: 30px;
		}

		.title {
			margin-bottom: 30px;
			color: $black;
			font-size: 30px;
			font-weight: 900;
		}

		p {
			color: $font-black-gray;
			font-size: 14px;
			font-weight: 600;
		}

		.arrow {
			color: $orange;
		}
	}

	.news {
		.single-news {
			&:hover {
				background-color: transparent;
			}

			.inner {
				padding: 0;
			}
		}
	}
}

@media (max-width: 1199.9px) {
	.page-news {
		.content {
			padding-right: 0;
		}
	}
}

@media (max-width: 991.9px) {
	.page-news {
		.sidebar {
			padding-left: 15px;
		}

		.content {
			padding-bottom: 40px;
		}
	}
}

@media (max-width: 767.9px) {
	.page-news {
		.main-news {
			margin-bottom: 30px;

			.title {
				margin-bottom: 15px;
			}

			.text {
				width: 100%;
				padding-left: 0;
				margin-top: 15px;
			}
		}
	}
}

// 8.Sidebar
.price-slider-wrapper {
	margin-bottom: 30px;
	max-width: 175px;
	width: 100%;

	.value {
		font-size: 14px;
		color: $light-black;
		display: inline-block;
	}
}

.price-filter {
	background-color: $orange;
	color: $white;
	font-size: 15px;
	font-weight: 400;
	display: block;
	outline: none !important;
	border: none;
	width: 100%;
	height: 30px;
	text-transform: uppercase;
	margin-top: 30px;
	cursor: pointer;
}

.values-wrapper {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	margin-top: 5px;
	font-size: 15px;
}

.noUi-horizontal {
	height: 15px;
	border: none !important;
	box-shadow: none !important;

	.noUi-handle {
		width: 19px;
		height: 19px;
		border: none;
		border-radius: 3px;
		background-color: $orange;
		outline: none;
		top: -2px;
		box-shadow: none;

		&::before,
		&::after {
			display: none;
		}
	}
}

.noUi-connects {
	background-color: #e5e5e5;
}

.noUi-connect {
	background-color: $red;
}

.sidebar {
	&.news-sidebar {
		.search-wrapper-sidebar {
			position: relative;
			padding-bottom: 0;
			margin-bottom: 30px;

			input {
				border-radius: 5px;
				border: 1px solid #d4d4d4;
				outline: none;
				padding: 10px;
				font-size: 14px;
				position: relative;
				width: 100%;
				color: $font-black-gray;
			}

			&::after {
				content: "\f002";
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				color: $orange;
				position: absolute;
				font-size: 14px;
				top: calc(50% - 7px);
				right: 15px;
				line-height: 1;
			}

			.commercial-place {
				max-width: 100%;
				height: auto;
				display: block;
			}
		}
	}

	.filter-header {
		display: none;
		width: 100%;
		padding: 20px 0;
		align-items: center;
		background-color: #fff;
		margin-bottom: 8px;
	}

	.mobile-category-filter-menu {
		.header {
			display: none;
			width: auto;
			text-align: center;
			font-size: 21px;
			font-weight: 900;
			color: $black;
			margin: 0;
			font-weight: 700;
			color: $red;
			text-transform: uppercase;
		}

		.clear {
			text-transform: uppercase;
			font-size: 14px;
			padding: 5px 10px;
			color: $red;
			display: inline-block;
			border: 1px solid $red;
		}

		.close-menu-wrapper {
			display: none;
		}
	}

	.dropdown {
		.btn {
			background-color: $white;
			width: 100%;
			color: $font-black-gray;
			border: 1px solid $font-light-gray;
			outline: none;
			box-shadow: unset;
			position: relative;
			text-align: left;
			border-radius: 3px;
			cursor: pointer;
			font-size: 15px;
		}

		.dropdown-item {
			font-size: 15px;
		}

		.dropdown-menu {
			width: 100%;
		}

		.dropdown-item {

			&:focus,
			&:hover {
				background-color: $orange;
				color: $white;
			}
		}

		.dropdown-toggle {
			&::after {
				position: absolute;
				right: 10px;
				top: calc(50% - 2.4px);
				border-top-color: $orange;
			}
		}
	}

	.wrapper {
		padding-bottom: 30px;
	}
}

.category-list {
	list-style-type: none;
	line-height: 1;
	font-size: 0;

	li {
		position: relative;
		padding-left: 10px;
		margin-bottom: 15px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 5px;
			width: 0;
			height: 0;
			border-left: 6px solid $orange;
			border-top: 3px solid transparent;
			border-bottom: 3px solid transparent;
		}

		a {
			font-size: 15px;
			display: inline-block;
			color: $font-black-gray;
		}
	}
}

.filter-list {
	list-style-type: none;

	li {
		font-size: 15px;
		display: inline-block;
		color: $font-black-gray;
	}
}

@media (max-width: 991.9px) {
	.price-slider-wrapper {
		max-width: 100%;
	}

	.filter-list {
		li {
			display: block;
		}
	}

	.category-list {
		li {
			width: 50%;
			display: inline-block;
		}
	}

	.sidebar {
		padding: 0 30px;

		&.news-sidebar {
			padding: 0 15px;
		}

		.filter-header {
			display: flex;
			justify-content: space-around;
		}

		.scrollable-content {
			height: 100%;
			width: 100%;
			overflow-y: scroll;
			padding-bottom: 24px;
			background-color: #efeaea;
		}

		.mobile-category-filter-menu {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			background: white;
			z-index: 11;
			height: 100%;
			width: 100%;
			display: none;

			.header {
				display: inline-block;
			}

			&.show {
				display: block;
			}

			.wrapper {
				width: 100%;
				padding: 30px 65px;
				margin-bottom: 8px;
				background-color: #fff;
			}

			.close-menu-wrapper {
				width: 100%;
				display: block;
				text-align: center;
				background-color: $red;
				padding: 10px 0;
				font-weight: 700;
				position: absolute;
				bottom: 0;

				a {
					color: $white;
					font-size: 18px;
					text-transform: uppercase;
				}
			}
		}
	}
}

@media (max-width: 575.9px) {
	.sidebar {
		.mobile-category-filter-menu {
			.close-menu-wrapper {
				padding: 5px 0;

				a {
					font-size: 15px;
				}
			}

			.square-header {
				margin-bottom: 20px;
			}

			.wrapper {
				width: 100%;
				padding: 15px 30px;
			}
		}
	}
}

// 9. My account
.woocommerce-order-downloads {
	table {
		padding: 0 15px;

		&.shop_table {
			.download-product {
				padding-left: 0 !important;
			}

			.download-file {
				padding-right: 0 !important;
				text-align: right;

				a {
					text-align: center;
					text-transform: uppercase;
					font-size: 14px;
				}
			}
		}
	}
}

.my-account {
	table {
		&.shop_table_responsive {
			tr {
				&:nth-child(2n) {
					td {
						background-color: $white !important;
					}
				}
			}
		}
	}

	.buttons {
		text-align: right;
	}

	.header-wrapper {
		.line {
			border: none;
			margin: 0;
			border-top: 1px solid rgb(205, 205, 205);
			width: 100%;
		}
	}

	.pagination {
		padding: 25px 15px 0;
	}

	.header {
		margin-bottom: 15px;
		line-height: 1;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 35px;
	}

	.nav-tabs {
		border: none;
		padding: 15px 0 40px;
		margin: 0 -15px;

		.nav-item {
			margin: 0;
			flex-grow: 1;
			padding: 0 15px;
			margin-bottom: 15px;

			&.is-active {
				.nav-link {
					background-color: $orange;
				}
			}
		}

		.nav-link {
			text-align: center;
			background-color: $red;
			color: $white;
			text-transform: uppercase;
			padding: 0;
			border: none;
			border-radius: 3px;
			height: 45px;
			line-height: 45px;

			&.active {
				border: none;
				background-color: $orange;
			}
		}
	}
}

.woocommerce-MyAccount-content {
	.woocommerce-pagination {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		a {
			&.woocommerce-button {
				&:hover {
					opacity: 0.85;
					color: $white !important;
					background-color: $red !important;
				}
			}
		}
	}

	a {
		color: $orange;
		font-weight: 700;

		&:hover {
			color: $red;
		}

		&.woocommerce-button {
			font-size: 16px;
			color: #fff;
			background-color: #740e12;
			font-weight: 400;
			border-radius: 3px;
			width: 115px;
			text-align: center;
			height: 40px;
			line-height: 40px;
			padding: 0;
			display: block;
		}
	}
}

.ordered-product {
	display: block;
	margin-bottom: 25px;
	border-bottom: 1px solid #c9c9c9;
	padding-bottom: 25px;

	&.paid {
		.small-button {
			&.black {
				display: none;
			}
		}

		.status {
			.not-pay {
				display: none;
			}
		}
	}

	&.unpaid {
		.small-button {
			&.orange {
				display: none;
			}
		}

		.status {
			.pay {
				display: none;
			}
		}
	}

	.line-wrapper {
		padding: 0 15px;
	}

	.line {
		border: none;
		margin: 25px 0;
		border-top: 1px solid rgb(205, 205, 205);
		width: 100%;
	}

	.desc {
		color: $black;
		font-size: 24px;
		font-weight: 900;
		padding: 0 15px;
	}

	.small-text {
		width: 100%;
		display: inline-block;
		font-size: 14px;
		color: $font-gray;
		font-weight: 600;
	}

	.price {
		.value {
			font-size: 18px;
			color: $red;
			font-weight: 900;
		}
	}

	.status {
		.pay {
			color: #399a18;
			font-size: 18px;
			font-weight: 900;
		}

		.not-pay {
			color: #d81d1d;
			font-size: 18px;
			font-weight: 900;
		}
	}
}

@media (max-width: 1199.9px) {
	.my-account {
		.nav-tabs {
			.nav-item {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 991.9px) {
	.my-account {
		.nav-tabs {
			margin: 0 -15px;
			padding: 0 0 20px;

			.nav-item {
				flex-grow: unset;
				margin: 10px 0;
				width: 50%;
			}
		}
	}
}

@media (max-width: 767.9px) {
	.woocommerce {
		.woocommerce-order-downloads {
			table {
				&.shop_table_responsive {

					tr td::before,
					.woocommerce-page table.shop_table_responsive tr td::before {
						display: block;
						width: 100%;
						float: none;
						text-align: left;
						border-bottom: 1px solid $black;
						margin-bottom: 5px;
					}

					td {
						border: none;
						text-align: left !important;
					}
				}

				&.shop_table {
					.download-product {
						padding: 6px 0 !important;
					}

					.download-remaining {
						padding: 6px 0 !important;
					}

					.download-expires {
						padding: 6px 0 !important;
					}

					.download-file {
						padding: 6px 0 !important;
						text-align: right;

						a {
							margin-top: 30px !important;
						}
					}
				}
			}
		}
	}

	.ordered-product {
		.desc {
			font-size: 19px;
		}
	}

	.woocommerce-orders-table__cell {
		&::before {
			display: none;
		}

		&-order-photo {
			display: block;
			width: 45%;
		}

		&-order-item-name {
			display: block;
			width: 55%;

			.desc {
				text-align: left;
			}
		}

		&-order-total {
			.price {
				text-align: left;
			}
		}

		&-order-status {
			.status {
				text-align: left;
			}
		}
	}

	.my-account {
		.nav-tabs {
			.nav-link {
				font-size: 13px;
			}
		}
	}

	.woocommerce-MyAccount-content {
		a {
			&.woocommerce-button {
				width: 115px !important;
				margin: 0 !important;
			}
		}
	}
}

@media (max-width: 515px) {
	.woocommerce-orders-table__cell {
		&-order-photo {
			display: block;
			width: 100%;
		}

		&-order-item-name {
			display: block;
			width: 100%;

			.desc {
				padding: 0;
				margin: 10px 0;
			}
		}

		&-order-total {
			display: block;
			width: 100%;
			margin-top: 10px;
		}

		&-order-status {
			display: block;
			width: 100%;
			margin-top: 10px;
		}

		&-order-actions {
			display: block;
			width: 100%;
			margin-top: 10px;

			.buttons {
				margin-top: 10px;

				a {
					margin-left: 0;
				}
			}
		}
	}

	.ordered-product {
		flex-flow: column;
		align-items: flex-start;
	}
}

@media (max-width: 479px) {
	.my-account {
		.nav-tabs {
			margin: 0 -7.5px;

			.nav-item {
				padding: 0 7.5px;
			}

			.nav-link {
				font-size: 11px;
			}
		}
	}
}

// 10. Single product
.chosen-product-popular-products {
	.shop-product {
		padding-left: 15px;
		margin-bottom: 24px;
	}
}

.price-wrapper {
	&.simple-product-view {
		.price {
			display: inline-block;
			font-size: 32px;
			color: #740e12;
			font-weight: 700;

			.old-price {
				font-size: 18px;
				color: black;
				margin-right: 10px;
			}
		}
	}
}

.chosen-product {
	.product-big-photo{
		height: auto;
	}
	img {
		max-width: 100%;
		height: auto;
		width: 100%;
	}

	.header {
		font-size: 26px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.1;
	}

	p {
		font-size: 14px;
		margin-bottom: 30px;
		color: $font-black-gray;
		padding-right: 30px;

		&:first-of-type {
			margin-top: 25px;
		}
	}

	.button-wrapper {
		padding: 20px 0;
		border-top: 1px solid $font-gray;
		border-bottom: 1px solid $font-gray;
	}

	.link {
		text-transform: uppercase;
		color: $red;
		font-weight: 900;
		text-decoration: none;
		font-size: 14px;
	}

	.big-button {
		width: 100%;
		height: 55px;
		line-height: 55px;
		text-transform: uppercase;
		color: $white;
		display: block;
		border-radius: 3px;
		text-align: center;
	}

	.slider-wrapper {
		margin-top: 10px;
		padding: 0 27px;
	}

	.product-big-photo {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		border: 1px solid $font-light-gray;
		border-radius: 3px;
		padding: 15px;
		height: auto;

		img {
			max-width: 70%;
			margin: 0 auto;
			height: auto;
			display: block;
		}
	}

	.owl-carousel {
		.owl-nav {

			.owl-prev,
			.owl-next {
				position: absolute;
				top: 0;
				height: 100%;
				width: 22px;
				background-color: $font-light-gray;
				display: flex;
				align-items: center;
				color: $white;
				border-radius: 3px;
				font-size: 0;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: calc(50% - 4px);
					width: 0;
					height: 0;
					margin: 0 auto;
				}
			}

			.owl-prev {
				left: -27px;

				&::before {
					border-right: 5px solid $font-gray;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent;
				}
			}

			.owl-next {
				right: -27px;

				&::before {
					border-left: 5px solid $font-gray;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent;
				}
			}
		}

		.owl-item {
			width: 97px;
			height: 97px;
			border-radius: 3px;
			text-align: center;
			padding: 0 3px;

			img {
				max-width: 100%;
				width: auto;
				height: auto;
				display: inline-block;
			}
		}

		.item {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			border: 1px solid $font-light-gray;
			padding: 0 10px;
			cursor: pointer;
		}
	}
}

.about-product {
	padding-top: 40px;
	position: relative;
	margin-bottom: 35px;

	.comment-reply-title {
		display: block;
		font-size: 14px;
	}

	.woocommerce-Reviews {
		font-size: 14px;

		.comment-reply-title {
			display: none;
		}

		.stars {
			font-size: 0;
			margin-bottom: 0;

			a {
				&::before {
					content: '\2606';
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					font-size: 16px;
					color: #fdca00;
				}

				&:hover {
					&::before {
						content: '\2605';
					}
				}

				&.on {
					&::before {
						content: '\2605';
					}
				}
			}
		}

		.woocommerce-review__published-date {
			font-size: 13px;
			color: $font-gray;
		}

		.commentlist {
			list-style: none;
		}

		.comment-text {
			padding-left: 20px;
			width: calc(100% - 60px);
			margin-bottom: 30px;
		}

		.comment_container {
			display: flex;
			flex-flow: row wrap;
		}

		.comment-notes {
			font-size: 13px;
			font-weight: 300;
		}

		padding: 0 15px;

		.comment-form-rating {
			display: flex;
			flex-flow: row wrap;
			align-items: center;

			label {
				width: auto;
				padding-right: 15px;
				margin-bottom: 0;
			}
		}

		label {
			width: 120px;
		}

		.comment-form {
			&-comment {
				width: 100%;
				display: inline-block;

				textarea {
					width: 100%;
					border: 1px solid #ccc;
					outline: none;
					padding: 5px 10px;
				}

				label {
					vertical-align: top;
					font-size: 16px;
					font-weight: 600;
					display: block;
					margin: 10px 0;
				}
			}

			&-author {
				width: 30%;
				display: inline-block;
				margin: 15px 0;
			}

			&-email {
				width: 30%;
				display: inline-block;
				margin: 15px 0;
			}
		}

		.submit {
			background-color: $red;
			color: $white;
			outline: none;
			border: none;
			width: 150px;
			height: 45px;
			text-align: center;
			margin-top: 15px;
		}

		.stars {
			span {
				display: block;
			}

			a {
				color: $black;
				display: inline-block;
				padding: 0 2.5px;

				&:hover {
					color: $red;
				}
			}
		}

		p {
			padding: 0;
		}

		.woocommerce-Reviews-title {
			text-align: center;
			margin: 20px 0;
			font-size: 22px;
			font-weight: 700;
		}

		input {
			position: static;
			opacity: 1;
			border: 1px solid #ccc;
			outline: none;
			padding: 5px 10px;
			font-size: 14px;
		}
	}

	.tab-pane {
		padding: 15px 0;
	}


	.page-content {
		padding: 15px 30px;
	}

	.mobile {
		display: none;
		width: 100%;
		font-size: 14px;
		font-weight: 400;
	}

	.border-content {
		border: 1px solid #e5e5e5;
		border-top: none;
		display: block;
	}

	.container {
		padding: 0 30px;
	}

	.box-shadow {
		position: absolute;
		height: calc(100% - 10px);
		top: 10px;
		right: 0;
		z-index: 1;
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
		display: none;
	}

	.input-wrapper {
		position: relative;
		padding: 0 25px;
		line-height: 1;
		margin-bottom: 0;
		cursor: pointer;
		color: $font-black-gray;
		font-size: 14px;
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.custom-input {
		position: absolute;
		top: 0;
		left: 0;
		width: 15px;
		height: 15px;
		border: 1px solid rgb(229, 229, 229);
		border-radius: 50%;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			border: 3px solid #fff;
			border-radius: 50%;
		}
	}

	.input-wrapper input:checked~.custom-input {
		background-color: $orange;
	}

	.box {
		padding: 0;
		padding: 0 7.5px;
	}

	.nav-tabs {
		border: none;
		margin: 0;
		padding: 0;

		.nav-item {
			flex-grow: 1;
			border: 1px solid $font-light-gray;
			border-right: none;
			margin: 0;
			text-align: center;

			&:first-of-type {
				border-left: none;
			}
		}

		.nav-link {
			color: $light-black;
			text-transform: uppercase;
			height: 55px;
			line-height: 53px;
			padding: 0;
			border-radius: 0;
			font-size: 14px;
			font-weight: 700;

			&.active {
				border-color: transparent;
				background-color: $red;
				color: $white;
			}
		}
	}

	.left {
		padding: 170px 0 0 15px;
	}

	.offer-name {
		background-color: $red;
		padding: 20px 0;
		color: $white;
		font-size: 28px;
		text-align: center;
		line-height: 1.25;
		text-transform: uppercase;
		border-top: 10px solid #f18928;
		border-radius: 5px 5px 0 0;
	}

	.product-duration {
		padding: 35px 0;
		line-height: 1;
		display: block;

		.text {
			font-weight: 700;
			color: $black;
			display: inline-block;
			padding-right: 35px;
		}
	}

	.pricing {
		// -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
		// -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
		// box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
		display: none;

		&.chosen {
			display: flex;
			border-radius: 5px;
			margin: 0 -7.5px;
		}

		.inner {
			// border-radius: 5px;
			// border-top: 10px solid $orange;
		}
	}

	.option-list {
		list-style: none;

		li {
			line-height: 1.25;
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			border-bottom: 1px solid transparent;
			font-size: 14px;
			color: $font-black-gray;
			padding: 0 20px;
			position: relative;
			min-height: 50px;

			.expand-content {
				position: absolute;
				right: 5px;
				font-size: 20px;
				color: $black;
				cursor: pointer;
				z-index: 2;
			}

			.all-content {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				z-index: 1;
				display: block;
				padding: 5px 0;

				&.show {
					height: auto;
					white-space: unset;
				}
			}

			&:nth-child(even) {
				background: $font-light-gray;
			}
		}
	}

	.about-product-list {
		list-style: none;
		padding: 0 14px;

		li {
			text-align: center;
			font-size: 18px;
			color: $light-black;
			font-weight: 700;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: row wrap;
			border-bottom: 1px solid rgb(233, 233, 233);

			&:last-of-type {
				border-color: transparent;
			}

			img {
				max-width: 100%;
				width: auto;
			}
		}
	}

	.summary-price {
		padding: 50px 0 40px;
		background-color: rgb(240, 225, 225);
		position: relative;
		z-index: 1;
		border-radius: 0 0 5px 5px;

		.price {
			font-size: 24px;
			color: $red;
			display: block;
			text-align: center;
			font-weight: 700;
			line-height: 1;
		}

		.old-price {
			color: $black;
			font-size: 16px;
		}
	}

	.button {
		max-width: 180px;
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-transform: uppercase;
		display: block;
		margin: 25px auto 0;
		text-align: center;
		color: $white;
		font-size: 16px;
		border-radius: 3px;
	}
}

@media (max-width: 1199.9px) {
	.about-product {
		.left {
			padding: 187px 0 0 15px;
		}

		.button {
			max-width: 175px;
		}

		.summary-price {
			.price {
				font-size: 21px;
			}
		}

		.offer-name {
			font-size: 21px;
		}
	}
}

@media (max-width: 991.9px) {
	.about-product {
		.woocommerce-Reviews {
			.submit {
				margin: 0 auto 20px;
				display: block;
			}

			.comment-form {
				&-email {
					width: 100%;
				}

				&-author {
					width: 100%;
				}
			}
		}

		p {
			font-size: 14px;
		}

		.box-shadow {
			display: none;
		}

		.box {
			margin-bottom: 30px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.tab-pane {
			padding-bottom: 0;
		}

		.about-product-list {
			li {
				height: auto;
				padding: 10px 0;

				img {
					margin-top: 5px;
				}
			}
		}

		.mobile {
			display: block;
		}

		.content {
			display: block;
			width: 100%;
			font-size: 17px;
		}

		.left {
			display: none;
		}

		.product-duration {
			padding: 40px 15px;
		}
	}

	.chosen-product {
		.image {
			order: 2;
		}

		.desc {
			order: 1;
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 767.9px) {
	.about-product {
		.input-wrapper {
			display: block;
			margin-bottom: 10px;

			&:first-of-type {
				margin-top: 10px;
			}
		}

		.summary-price {
			padding: 30px 0 20px;
		}

		.border-content {
			padding-bottom: 0;
		}

		.button {
			max-width: 155px;
		}

		.offer-name {
			font-size: 17px;
			padding: 15px 0;
		}

		.about-product-list {
			li {
				font-size: 15px;
			}
		}
	}
}

@media (max-width: 575.9px) {
	.about-product {
		.container {
			padding: 0 15px;
		}
	}

	.chosen-product {
		.header {
			font-size: 24px;
		}
	}

	.about-product {
		.woocommerce-Reviews {
			.comment-text {
				width: 100%;
				padding-left: 0;
				padding-top: 20px;
				;
			}
		}

		.about-product-list {
			li {
				font-size: 14px;
			}
		}

		.button {
			max-width: 88px;
			height: 40px;
			line-height: 38px;
			font-size: 13px;
		}

		.summary-price {
			.price {
				font-size: 15px;
			}
		}

		.nav-tabs {
			.nav-item {
				height: 50px;
				line-height: 48px;
				font-size: 12px;
				width: 50%;
			}
		}
	}
}

// 11. Category product
.category-product {
	padding-bottom: 35px;

	.content {
		padding-left: 0;
	}

	.sidebar {
		max-width: 220px;
		width: 100%;
		flex: auto;

		.square-header {
			&.small {
				font-size: 18px;

				&::before {
					height: 17px;
					width: 5px;
				}
			}
		}
	}

	.content {
		max-width: calc(100% - 220px);
		width: 100%;
		flex: auto;
	}

	.pagination {
		padding: 0 60px 30px;
	}
}

@media (max-width: 991.9px) {
	.category-product {
		padding: 0 0 35px;

		.content {
			max-width: 100%;
			padding: 0 15px 15px;
			order: 0;
		}

		.pagination {
			padding: 15px 15px 30px;
		}

		.sidebar {
			max-width: 100%;
			order: 1;
			padding: 0 30px;
		}
	}
}

@media (max-width: 575.9px) {
	.category-product {
		.sidebar {
			padding: 0 15px;
		}

		.content {
			padding: 0 0 15px;
		}

		.products-section {
			padding: 0 10px;
		}
	}
}

// 12. Cart
.return-to-shop {
	text-align: center;
}

.cart-empty {
	text-align: center;
	font-size: 30px;
	padding: 30px 0;
}

.woocommerce-steps {
	padding-top: 40px;
}

.woocommerce-message {
	font-size: 15px;
	color: $black;
	border-top-color: $red;

	.restore-item {
		color: $red;
		font-size: 15px;
	}

	.button {
		background-color: $red;
		color: $white;
	}
}

.woocommerce {
	padding: 0 15px 40px;

	.quantity {
		.qty {
			outline: none !important;
			width: 100;
			text-align: center;
			padding: 0 3px;
			border: 1px solid #ccc7c7;
		}
	}

	.woocommerce-cart-form__cart-item {
		.product-remove {
			width: 5%;
		}

		.product-thumbnail {
			width: 20%;
		}

		.product-name {
			width: 35%;
		}

		.product-price {
			width: 15%;
		}

		.product-quantity {
			width: 10%;
		}

		.product-subtotal {
			width: 15%;
		}
	}

	.shop-header {
		text-transform: uppercase;
		height: 55px;
		line-height: 53px;
		padding: 0;
		border-radius: 0;
		font-size: 14px;
		font-weight: 700;
	}

	.woocommerce-message {
		.button {
			background-color: $red;
			color: $white;
			text-align: center;
		}
	}

	.woocommerce-form__label {
		margin-bottom: 0;
		position: relative;
		padding-right: 15px;

		span {
			font-size: 20px;
		}

		#ship-to-different-address-checkbox {
			position: absolute;
			right: -5px;
			top: 5px;
		}
	}

	.wc-proceed-to-checkout {
		text-align: right;
	}

	a {
		&.remove {
			font-size: 33px !important;
			color: $orange !important;

			&:hover {
				background-color: $orange !important;
				color: $white;
			}
		}

		&.button {
			&.wc-backward {
				background-color: $red;
				color: $white;
			}

			&.alt {
				background-color: $red;

				&:hover {
					background-color: $red;
					opacity: 0.95;
				}
			}
		}
	}

	.woocommerce-Price-amount {
		&.amount {
			font-size: 18px;
			color: #740e12;
			font-weight: 900;
		}
	}

	button {
		&.button {
			background-color: $red;
			color: white !important;
			font-weight: 400;
			border: 1px solid transparent;
			height: 40px;

			&:hover {
				background-color: $black;
				color: $white;
				opacity: 0.8;
			}
		}
	}

	table {
		&.my_account_orders {
			td {
				padding: 0 15px;
				border: none;
			}
		}

		&.cart {
			img {
				display: block;
				padding: 20px 0;
			}

			td {
				&.actions {
					.input-text {
						width: 140px;
						margin-right: 10px;
						height: 39px;
						padding: 0 10px;
					}
				}
			}
		}

		&.shop_table {
			border-radius: 0;
			border: none;

			.woocommerce-cart-form__cart-item {
				.product-name {
					a {
						color: black;
						font-size: 24px;
						font-weight: 900;
						padding: 0;
					}
				}
			}

			tbody {
				th {
					font-weight: 400;
				}
			}

			td {
				&.product-price {
					.woocommerce-Price-amount {
						&.amount {
							font-weight: 400;
						}
					}
				}

				a {
					color: $black;
					font-size: 18px;
					font-weight: 700;
					display: block;
				}
			}
		}

		&.my_account_orders {
			margin-bottom: 0;
		}
	}
}

.cart_totals {
	h2 {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 20px;
	}
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: $red;
}

@media (max-width: 991.9px) {
	.woocommerce {
		.wc-proceed-to-checkout {
			text-align: left;
		}

		.cart-collaterals {
			.cart_totals {
				width: 100%;
				margin-top: 40px;
			}
		}

		table {
			&.cart {
				td {
					&.actions {
						.input-text {
							width: 140px;
							margin-right: 0;
						}
					}
				}
			}

			&.shop_table {
				.woocommerce-cart-form__cart-item {
					.product-name {
						a {
							font-size: 16px;
						}
					}
				}

				td {
					a {
						font-size: 15px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.woocommerce table.shop_table_responsive tr:nth-child(2n) td {
		background-color: $white;
	}

	.cart_totals {
		h2 {
			font-size: 21px;
		}
	}

	.woocommerce {
		.square-header {
			font-size: 21px;
		}

		a {
			&.remove {
				font-size: 50px !important;
			}

			&.button {
				&.alt {
					text-align: center;
				}
			}
		}

		table {
			&.shop_table_responsive {
				.woocommerce-cart-form__cart-item {
					position: relative;
					padding-bottom: 25px;
					border-bottom: 1px solid #ccc7c7;
					display: flex;
					flex-wrap: wrap;

					&:last-of-type {
						padding-bottom: 0;
					}

					td {
						display: block;
						width: 50%;
						flex: 0 0 50%;
					}
				}
			}

			&.shop_table {
				td {
					border-top: none;
				}
			}

			&.cart {
				td {
					&.product-thumbnail {
						display: block;
						width: 33%;
						flex: 0 0 33%;

						&::before {
							display: none;
						}
					}

					&.product-remove {
						position: absolute;
						right: 0;
						top: 0;
						width: auto;
						padding: 0;
					}

					&.product-price,
					&.product-quantity,
					&.product-subtotal {
						width: 33%;
						flex: 0 0 33%;
					}

					&.product-quantity {
						border-right: 1px solid $font-gray;
						border-left: 1px solid $font-gray;
					}

					&.product-name {
						display: flex;
						align-items: center;
						text-align: left !important;
						width: 67%;
						flex: 0 0 67%;
						padding-right: 60px;

						&::before {
							display: none;
						}

						a {
							padding-left: 1px !important;
						}
					}

					&.actions {
						.coupon {
							padding-bottom: 0;

							.input-text {
								width: 100%;
							}

							.button {
								width: 100%;
								margin: 10px 0;
							}
						}
					}
				}
			}
		}

		.button {
			&.button {
				width: 100%;
				margin: 10px 0;
			}
		}
	}
}

@media (max-width: 575.9px) {
	.woocommerce {
		table {
			&.my_account_orders {
				td {
					padding: 0;
				}
			}
		}
	}

	.cart-empty {
		font-size: 24px;
	}
}

@media (max-width: 479px) {
	.woocommerce {
		table {
			&.cart {
				td {

					&.product-thumbnail,
					&.product-name {
						width: 100%;
						flex: 0 0 100%;
					}

					&.product-price,
					&.product-quantity,
					&.product-subtotal {
						text-align: left !important;
						position: relative;
						padding-top: 20px;

						&::before {
							position: absolute;
							left: 12px;
							top: 0;
							font-size: 13px;
							letter-spacing: 0.05em;
						}
					}

					&.product-quantity {
						border: none;

						.screen-reader-text {
							display: none;
						}
					}

					&.product-price,
					&.product-quantity {
						flex: 0 0 50%;
						width: 50%;
					}

					&.product-subtotal {
						width: 100%;
						flex: 0 0 100%;
					}
				}
			}
		}
	}
}

// 13 .Checkout
.woocommerce {
	.order-total {
		.woocommerce-Price-amount {
			&.amount {
				color: $orange;
				font-size: 21px;
			}
		}
	}

	table {
		&.shop_table {
			&.woocommerce-checkout-review-order-table {
				.cart-subtotal {
					margin-top: 15px;
				}

				.cart_item {
					.woocommerce-Price-amount {
						&.amount {
							color: $black;
							font-weight: 400;
						}
					}
				}

				td {
					border: none;
					padding: 0;

					&.product-name {
						width: auto;
					}
				}

				th {
					border: none;
					padding: 0;
					font-size: 20px;

					&.product-name {
						width: auto;
					}
				}
			}
		}
	}
}

#order_review_heading {
	margin: 20px 0;
	font-size: 24px;
	color: $black;
	font-weight: 700;
}

.woocommerce-info {
	border-top-color: $red;

	&:before {
		color: $red;
	}
}

.woocommerce-checkout {
	#payment {
		background-color: $red;
		color: $white;
		font-weight: 400;
		border-radius: 0;

		.form-row {
			width: 100% !important;
		}

		div {
			&.payment_box {
				background-color: $red;
				padding: 0;
				font-weight: 300;
				letter-spacing: 0.025em;

				&::before {
					display: none;
				}

				p {
					color: $white;
					font-weight: 400;
				}
			}
		}

		.wc_payment_method {
			font-size: 20px;
			letter-spacing: 0.05em;
			font-weight: 700;
			margin: 0;
		}

		ul {
			&.payment_methods {
				border-bottom: 1px solid $font-gray;
			}
		}
	}
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields {
	h3 {
		font-size: 24px;
		font-weight: 700;
		color: $black;
		margin: 30px 0;
	}
}

.woocommerce {
	button {
		outline: none !important;

		&.button {
			&.alt {
				background-color: $orange;

				&:hover {
					background-color: $orange;
					opacity: 0.85;
				}
			}
		}
	}

	form {
		&.checkout_coupon {
			border: 1px solid #ccc;
			border-radius: 0;
		}

		.form-row {
			display: inline-block;
			width: 50%;

			&.notes {
				width: 100%;

				textarea {
					padding: 10px;
					border: 1px solid #ccc;
				}
			}

			.required {
				color: $red;
			}

			&#billing_address_2_field {
				display: none !important;
			}

			input {
				&.input-text {
					height: 40px;
					padding: 2.5px 10px;
					border: 1px solid #ccc;
				}
			}
		}
	}

	.showcoupon {
		color: $red;
		font-size: 16px;
		font-weight: 700;
	}

	.col2-set {

		.col-1,
		.col-2 {
			max-width: 100%;
			padding: 0;
			width: 100%;
		}
	}
}

.select2-container {
	position: relative;
	top: -5px;

	.select2-selection--single {
		height: 40px;
		outline: none;
		border-radius: 0px;
		border: 1px solid #ccc;

		.select2-selection__rendered {
			line-height: 40px;
		}
	}
}

.select2-container--default {
	.select2-selection--single {
		.select2-selection__arrow {
			height: 38px;
		}
	}
}

@media (max-width: 991.9px) {
	.woocommerce {
		table {
			&.shop_table {
				&.woocommerce-checkout-review-order-table {
					display: flex;
					flex-flow: row wrap;
					width: 100%;

					thead,
					tbody,
					tfoot,
					tr {
						display: flex;
						flex-flow: row wrap;
						width: 100%;

						.product-name {
							width: 50%;
							display: block;
							padding-right: 5px;
							font-size: 14px;
						}

						.product-total {
							width: 50%;
							display: block;
							padding-left: 5px;
						}
					}

					.cart-subtotal,
					.shipping,
					.order-total {
						th {
							width: 50%;
							padding-right: 5px;
						}

						td {
							width: 50%;
							padding-left: 5px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 575.9px) {
	.woocommerce {
		.woocommerce-Price-amount {
			&.amount {
				font-size: 16px;
			}
		}

		table {
			&.shop_table {
				&.woocommerce-checkout-review-order-table {
					.cart_item {
						.woocommerce-Price-amount {
							&.amount {
								font-size: 15px;
							}
						}
					}
				}
			}
		}

		form {
			.form-row {
				width: 100%;
			}
		}
	}
}

// 14. Order
.woocommerce-column__title {
	font-size: 24px;
	font-weight: 700;
	color: $black;
	margin: 20px 0;
}

.woocommerce-order-details__title {
	font-size: 24px;
	font-weight: 700;
	color: $black;
	margin: 20px 0;
}

.woocommerce {
	tfoot {
		tr {
			&:last-of-type {
				.woocommerce-Price-amount {
					&.amount {
						font-size: 20px;
						color: $orange;
					}
				}
			}
		}
	}

	.woocommerce-order-overview__total {
		.woocommerce-Price-amount {
			&.amount {
				font-size: 20px;
				color: $orange;
			}
		}
	}

	table {
		&.shop_table {
			.woocommerce-table__product-total {
				.woocommerce-Price-amount {
					&.amount {
						color: $black;
						font-weight: 600;
					}
				}
			}
		}

		&.shop_table_responsive {
			.woocommerce-orders-table__cell {
				&-order-number {
					width: 20%;
					padding: 0 !important;
					text-align: left !important;

					a {
						font-weight: 900 !important;
						font-size: 18px !important;

						span {
							font-weight: 400 !important;
						}
					}
				}

				&-order-item-name {
					width: 30%;
				}

				&-order-total {
					width: 20%;
				}

				&-order-status {
					width: 20%;
				}

				&-order-actions {
					width: 10%;
					padding-right: 0;

					.buttons {
						a {
							margin-left: auto;
						}
					}
				}
			}
		}

		&.order_details {
			th {
				font-size: 20px;
			}

			.product-name {
				width: auto;
			}
		}
	}

	.woocommerce-order-details {
		margin-bottom: 0;
	}

	ul {
		&.order_details {
			margin: 0 0 30px;
		}
	}

	.woocommerce-customer-details {
		margin-bottom: 0;

		address {
			padding: 10px 15px;
			font-size: 15px;
			color: $black;
			border-radius: 0;
		}
	}
}

.woocommerce-thankyou-order-received {
	font-size: 22px;
	border-bottom: 1px solid;
	margin-bottom: 30px;
}

@media (max-width: 991.9px) {
	.woocommerce {
		ul {
			&.order_details {
				li {
					float: none;
					margin: 0 0 15px;
					border-right: none;
				}
			}
		}

		table {
			&.shop_table_responsive {
				.woocommerce-orders-table__cell {
					&-order-number {
						display: block;
						width: 100%;
					}

					&-order-total {
						display: block;
						width: 33.33%;
						margin-top: 25px;
						padding-left: 0;
					}

					&-order-status {
						display: block;
						width: 33.33%;
						margin-top: 25px;
					}

					&-order-actions {
						display: block;
						width: 33.33%;
						margin-top: 25px;
					}
				}

				.ordered-product {
					display: flex !important;
					flex-flow: row wrap;
					align-items: center;

					.small-button {
						width: 125px;
						font-size: 14px;
					}

					.status {
						.not-pay {
							font-size: 17px;
						}

						.pay {
							font-size: 17px;
						}
					}

					.desc {
						font-size: 21px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.woocommerce {
		table {
			&.shop_table_responsive {
				tr {
					td {
						text-align: left !important;

						&::before {
							display: none !important;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767.9px) {
	.woocommerce {
		table {
			&.shop_table_responsive {
				.woocommerce-orders-table__cell {
					&-order-number {
						a {
							font-size: 22px !important;
						}
					}

					&-order-total,
					&-order-status,
					&-order-actions {
						width: 100%;
						padding: 0;

						.buttons {
							a {
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 575.9px) {
	.woocommerce-order-details__title {
		font-size: 24px;
	}

	.woocommerce-column__title {
		font-size: 24px;
	}
}

// 15 Log / Register

.woocommerce {
	#customer_login {
		&.col2-set {

			.col-1,
			.col-2 {
				max-width: 50%;
			}
		}
	}

	form {

		&.login,
		&.register {
			border: none;
			padding: 0;

			.custom-inputs {
				.custom-input {
					top: 9px;
				}
			}

			.form-row {
				label {
					display: block;
					margin: 10px 0;

					span {
						font-size: 17px;
						color: $font-black-gray;
					}
				}
			}

			.woocommerce-LostPassword {
				a {
					font-size: 14px;
					color: $orange;

					&:hover {
						color: $red;
					}
				}
			}
		}
	}
}

@media (max-width: 991.9px) {
	.woocommerce {
		#customer_login {
			&.col2-set {

				.col-1,
				.col-2 {
					max-width: 100%;
				}
			}
		}
	}
}

// 16. Opinions