/*
		Table of contents
		1. Import
		2. Variables
		3. Global
		4. Footer
		5. Menu
		6. Home
		7. Newspage
		8. Sidebar
		9. My account
		10. Single product
		11. Product category
		12. Cart
		13. Checkout
		14. Order
		15. Log / Register
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600,700,900&subset=latin-ext");
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Lato", sans-serif;
  padding-top: 107px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; }
    .container.wide {
      max-width: 1200px; } }
@media (max-width: 1199.9px) {
  body {
    padding-top: 165px; } }
.row {
  margin: 0px; }

::-webkit-input-placeholder {
  color: #b3b3b3;
  font-family: 'my-font', "Lato", sans-serif; }

:-moz-placeholder {
  color: #b3b3b3;
  opacity: 1;
  font-family: 'my-font', "Lato", sans-serif; }

::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1;
  font-family: 'my-font', "Lato", sans-serif; }

:-ms-input-placeholder {
  color: #b3b3b3;
  font-family: 'my-font', "Lato", sans-serif; }

a,
button,
input[type="submit"] {
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }

a:hover,
a:focus {
  text-decoration: none; }

.opacity-0 {
  opacity: 0; }

.no-margin {
  margin: 0; }

.no-margin-left {
  margin-left: 0; }

.no-margin-right {
  margin-right: 0; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-padding {
  padding: 0; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.no-padding-top {
  padding-top: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

.text-align-center {
  text-align: center; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.text-align-justify {
  text-align: justify; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.flex {
  display: flex;
  align-items: center; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.commercial-place.chosen-product-commercial .col-md-6 {
  margin-bottom: 25px; }

.fixed-link {
  position: fixed;
  right: 0;
  top: 235px;
  z-index: 5; }
  .fixed-link .orange-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f18928;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    right: -5px;
    z-index: 2; }
  .fixed-link p {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-orientation: mixed;
    color: white;
    background-color: #740e12;
    padding: 20px 40px 20px 20px;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    z-index: 1;
    right: -61px;
    top: 61px; }

.custom-inputs .input-wrapper {
  position: relative;
  padding-left: 25px;
  line-height: 1;
  margin-bottom: 15px;
  font-size: 15px;
  cursor: pointer; }
.custom-inputs input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }
.custom-inputs .custom-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  z-index: 1; }
  .custom-inputs .custom-input::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 3px solid #fff;
    border-radius: 1px; }
.custom-inputs .input-wrapper input:checked ~ .custom-input {
  background-color: #f18928; }

.filters {
  display: none;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
  margin: 10px 0 20px;
  color: #740e12;
  border: 1px solid #740e12; }

blockquote {
  padding: 20px 90px;
  margin: 50px 0;
  position: relative; }
  blockquote p {
    font-size: 18px !important;
    color: #740e12 !important; }
  blockquote::before {
    content: "";
    width: 45px;
    height: 100%;
    background-color: #740e12;
    position: absolute;
    top: 0;
    left: 0; }
  blockquote::after {
    content: "";
    width: 15px;
    height: 100%;
    background-color: #f18928;
    position: absolute;
    top: 0;
    left: 45px; }

.page-content {
  padding: 40px 15px; }
  .page-content table {
    margin-bottom: 15px; }
    .page-content table th,
    .page-content table td {
      padding: 7px 10px;
      border: 1px solid #e5e5e5; }
  .page-content h1,
  .page-content h2,
  .page-content h3,
  .page-content h4,
  .page-content h5,
  .page-content h6 {
    color: black;
    margin: 15px 0;
    font-weight: 700; }
  .page-content ul {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    list-style: none;
    margin-bottom: 30px; }
    .page-content ul li {
      padding-left: 15px;
      margin-bottom: 15px;
      position: relative;
      font-size: 15px;
      color: #4f4f4f;
      line-height: 1; }
      .page-content ul li::before {
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #f18928;
        position: absolute;
        left: 0;
        top: 0;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        line-height: 1; }
  .page-content a {
    color: #740e12; }
  .page-content ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: order-blog;
    margin-bottom: 30px; }
    .page-content ol li {
      padding-left: 30px;
      position: relative;
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 15px;
      color: #4f4f4f;
      line-height: 1; }
      .page-content ol li::before {
        counter-increment: order-blog;
        content: counter(order-blog);
        color: black;
        position: absolute;
        left: 0;
        top: 0;
        height: 20px;
        width: 20px;
        background-color: #f18928;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px; }
  .page-content p {
    font-size: 15px;
    color: #4f4f4f; }
    .page-content p:last-of-type {
      margin-bottom: 0; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9;
  display: none; }
  .overlay.show {
    display: block; }

.breadcrumbs {
  background-color: #740e12;
  margin-bottom: 25px; }
  .breadcrumbs p {
    margin: 0;
    color: white;
    font-size: 14px;
    padding: 15px 0;
    line-height: 1; }
  .breadcrumbs a {
    color: white; }
  .breadcrumbs i {
    color: #f18928;
    padding: 0 5px; }

.light-black-bg {
  background-color: #1a1a1a; }

.orange-bg {
  background-color: #f18928; }

.black-bg {
  background-color: black; }

.red-bg {
  background-color: #740e12; }

.border-bottom-gray {
  border-bottom: 1px solid whitesmoke; }

.commercial-place img {
  width: 100%;
  height: auto; }

.product-label-wrapper {
  position: absolute;
  top: 5px;
  left: 23px; }

.product-label {
  color: white;
  font-size: 10px;
  display: block;
  border-radius: 3px;
  padding: 5px;
  text-transform: uppercase;
  margin-top: 3px;
  text-align: center; }
  .product-label.red {
    background-color: red; }
  .product-label.green {
    background-color: green; }
  .product-label.pink {
    background-color: magenta; }
  .product-label.orange {
    background-color: #f18928; }

.shop-product {
  padding: 0 10px; }

.shop-button {
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto; }
  .shop-button:hover {
    color: white; }
  .shop-button.orange {
    background-color: #f18928; }

.narrow-section {
  flex: 0 0 100%;
  max-width: 100%; }

.wide-section {
  flex: 0 0 40%;
  max-width: 40%; }

.wide-product {
  border-radius: 3px;
  position: relative;
  margin-bottom: 21px; }
  .wide-product .shop-button {
    width: 215px;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    margin: 30px auto 25px; }
  .wide-product .price-wrapper {
    text-align: center;
    line-height: 1; }
    .wide-product .price-wrapper .promotion-price {
      display: none; }
    .wide-product .price-wrapper .price {
      display: inline-block;
      font-size: 36px;
      color: #740e12;
      font-weight: 700; }
    .wide-product .price-wrapper.promotion .price {
      font-size: 20px;
      color: black;
      display: inline-block;
      text-decoration: line-through; }
    .wide-product .price-wrapper.promotion .promotion-price {
      display: inline-block;
      font-size: 36px;
      color: #740e12;
      font-weight: 700; }
  .wide-product .inner {
    border: 1px solid #e5e5e5;
    padding: 0 15px; }
  .wide-product .title {
    padding: 0 10px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    height: 109.5px;
    line-height: 1.3; }
  .wide-product img {
    padding-top: 170px;
    margin: 0 auto 120px;
    display: block;
    max-width: 100%;
    height: auto; }

.narrow-product {
  border-radius: 3px;
  position: relative;
  margin-bottom: 21px; }
  .narrow-product .inner {
    border: 1px solid #e5e5e5;
    height: 100%; }
  .narrow-product .price {
    font-size: 18px;
    color: #740e12;
    display: block;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    margin-top: 5px;
    height: 32px; }
    .narrow-product .price .old-price {
      font-size: 14px;
      color: #000;
      margin-right: 5px;
      display: block; }
  .narrow-product .shop-button {
    width: 115px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin: 20px auto 20px; }
  .narrow-product .title {
    padding: 0 10px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: black;
    height: 50px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: center; }
  .narrow-product img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto; }
  .narrow-product .img-wrapper {
    height: 165px;
    margin: 20px 0 10px;
    display: block; }

.square-header {
  padding-left: 30px;
  position: relative;
  color: black;
  font-size: 26px;
  margin-bottom: 30px;
  display: block;
  line-height: 1;
  font-weight: 700; }
  .square-header::before {
    content: "";
    width: 18px;
    height: 26px;
    background-color: #740e12;
    position: absolute;
    left: 0;
    top: 0; }
  .square-header.small {
    font-size: 15px;
    padding-left: 10px; }
    .square-header.small::before {
      height: 15px;
      width: 5px; }

.popular-categories.category-product-popular-categories {
  padding-top: 50px; }
.popular-categories.home {
  padding-top: 0; }
.popular-categories .content-hover {
  display: block; }
  .popular-categories .content-hover:hover {
    -webkit-box-shadow: 0px 0px 35px 0px #740e11;
    -moz-box-shadow: 0px 0px 35px 0px #740e11;
    box-shadow: 0px 0px 35px 0px #740e11; }
.popular-categories .header {
  text-transform: uppercase;
  color: #740e12;
  display: block;
  font-size: 18px;
  line-height: 1; }
  .popular-categories .header .main-title {
    color: black;
    font-size: 22px;
    font-weight: 700;
    display: block;
    margin-top: 10px; }
  .popular-categories .header .line {
    margin: 0;
    margin-top: 15px;
    border: none;
    border-top: 2px solid #740e12;
    width: 50px; }
.popular-categories .big .box {
  height: 475px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 30px;
  background-color: whitesmoke; }
.popular-categories .medium .box {
  height: 225px;
  background-color: whitesmoke;
  padding: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
.popular-categories .four-boxes .inner {
  height: 225px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 30px;
  background-color: whitesmoke;
  display: block; }
.popular-categories .four-boxes .box {
  padding: 0 15px; }
.popular-categories .box {
  margin-bottom: 25px; }

.online-platform {
  background-color: #740e12;
  padding: 30px 0;
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat; }
  .online-platform img {
    position: relative;
    left: -105px; }
  .online-platform .content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
  .online-platform .text {
    display: block;
    color: white;
    font-size: 32px;
    line-height: 1.1;
    font-weight: 300;
    margin-bottom: 0; }
    .online-platform .text span {
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      font-size: 54px;
      margin-top: 15px;
      margin-bottom: 30px; }

.link {
  color: #f18928;
  text-decoration: underline; }
  .link:hover {
    color: #f18928; }

.useFontAwesomeFamily::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-family: "Font Awesome 5 Brands" !important;
  font-weight: 900 !important; }

.useFontAwesomeFamily:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: "Font Awesome 5 Brands" !important;
  font-weight: 900 !important; }

.useFontAwesomeFamily::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: "Font Awesome 5 Brands" !important;
  font-weight: 900 !important; }

.useFontAwesomeFamily:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Font Awesome 5 Brands" !important;
  font-weight: 900 !important; }

.useFontAwesomeFamily::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Font Awesome 5 Brands" !important;
  font-weight: 900 !important; }

.useFontAwesomeFamily::placeholder {
  /* Most modern browsers */
  font-family: "Font Awesome 5 Brands" !important;
  font-weight: 900 !important; }

.small-big-header-wrapper .header {
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
  text-align: center; }
  .small-big-header-wrapper .header.small {
    font-size: 18px;
    display: block;
    font-weight: 700; }
  .small-big-header-wrapper .header.big {
    font-size: 30px;
    display: block;
    margin-bottom: 50px;
    font-weight: 900; }
.small-big-header-wrapper.black .small {
  color: #740e12; }
.small-big-header-wrapper.black .big {
  color: black; }

.small-button {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  outline: none;
  text-align: center;
  height: 36px;
  line-height: 36px;
  width: 145px;
  font-size: 14px; }
  .small-button.order {
    color: white !important; }
  .small-button.orange {
    background-color: #f18928; }
    .small-button.orange:hover {
      color: white;
      opacity: 0.9; }
  .small-button.black {
    background-color: black; }
    .small-button.black:hover {
      color: white;
      opacity: 0.9; }

.button-arrow {
  border-radius: 3px;
  width: 190px;
  height: 46px;
  display: inline-flex;
  text-decoration: none;
  color: white;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 20px;
  text-transform: uppercase;
  font-size: 14px; }
  .button-arrow.black {
    background-color: black; }
    .button-arrow.black:hover {
      color: black;
      background-color: white; }
  .button-arrow.orange {
    background-color: #f18928; }
    .button-arrow.orange:hover {
      color: #f18928;
      background-color: white; }

.news .row {
  padding: 0 15px; }
.news .single-news {
  margin-bottom: 70px; }
  .news .single-news:hover {
    background-color: whitesmoke; }
    .news .single-news:hover .title {
      color: #740e12; }
  .news .single-news .inner {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    text-decoration: none; }
  .news .single-news .text {
    width: calc(100% - 95px);
    padding-left: 15px;
    font-size: 18px;
    font-weight: 900; }
  .news .single-news .date {
    display: inline-block;
    width: 100%;
    color: gray;
    font-size: 14px;
    font-weight: 400; }
  .news .single-news .title {
    color: black;
    margin: 0; }
  .news .single-news .arrow {
    color: #f18928; }

ul,
ol {
  margin: 0;
  padding: 0; }

.pagination {
  justify-content: center;
  padding: 0 15px; }
  .pagination .pagination-numbers {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  .pagination .page-item {
    margin: 0 5px; }
    .pagination .page-item .page-link {
      width: 39px;
      height: 39px;
      border: 1px solid darkgray;
      color: darkgray;
      border-radius: 3px;
      padding: 0;
      display: flex;
      align-items: center;
      font-size: 15px;
      justify-content: center; }
    .pagination .page-item.active .page-link {
      background: #740e12;
      color: white;
      border-color: #740e12; }
    .pagination .page-item.prev .page-link, .pagination .page-item.next .page-link {
      background-color: black;
      color: white;
      border-color: transparent; }
    .pagination .page-item .hidden-sm-down {
      display: none !important; }

@media (max-width: 1440px) {
  .online-platform img {
    max-width: 100%;
    height: auto;
    left: 0; } }
@media (max-width: 1366px) {
  .online-platform img {
    max-width: 75%; }
  .online-platform .row {
    align-items: center; } }
@media (max-width: 1199.9px) {
  .wide-product img {
    padding-top: 90px;
    margin: 0 auto 30px; }
  .wide-product .inner {
    padding: 0 10px; }
  .wide-product .title {
    padding: 0 5px; }
  .wide-product .price-wrapper.promotion .promotion-price {
    font-size: 30px; }

  .popular-categories .header {
    font-size: 16px; }
    .popular-categories .header .main-title {
      font-size: 18px; }
  .popular-categories .four-boxes .inner {
    padding: 15px; }
  .popular-categories .big .box {
    padding: 15px; }
  .popular-categories .medium .box {
    padding: 15px; }

  .wide-section {
    flex: 0 0 100%;
    max-width: 100%; }

  .narrow-section {
    flex: 0 0 100%;
    max-width: 100%; }
    .narrow-section .title {
      padding: 0 10px; }

  .online-platform .row {
    height: calc(100vh - 87px); }
  .online-platform .text {
    font-size: 22px; }
    .online-platform .text span {
      font-size: 40px; } }
@media (max-width: 991.9px) {
  .online-platform .row {
    height: auto;
    padding: 30px 0; }

  .filters {
    display: block; }

  .narrow-product {
    max-width: 50%;
    flex: 0 0 50%; }

  .shop-product {
    padding: 0 15px; } }
@media (max-width: 767.9px) {
  .small-big-header-wrapper .header.big {
    font-size: 24px; }

  .news .single-news {
    margin-bottom: 35px; }

  .online-platform img {
    display: none; }

  .popular-categories .big .box {
    height: 350px;
    background-size: contain; }
  .popular-categories .four-boxes .inner {
    height: 240px; } }
@media (max-width: 575.9px) {
  .breadcrumbs p {
    padding: 15px; }

  .container {
    padding: 0; }
    .container.page-content {
      padding: 40px 0; }

  blockquote {
    padding: 15px 30px 15px 55px;
    margin: 30px 0; }
    blockquote::before {
      width: 30px; }
    blockquote p {
      font-size: 16px !important; }
    blockquote::after {
      width: 10px;
      left: 30px; }

  .online-platform .text {
    font-size: 15px; }
    .online-platform .text span {
      font-size: 25px; }

  .news .single-news .inner {
    padding: 10px 0px; }
  .news .single-news .text {
    font-size: 14px; }
  .news .single-news .date {
    font-size: 13px; }

  .popular-categories .header {
    font-size: 14px; }
    .popular-categories .header .main-title {
      font-size: 15px; }
  .popular-categories .four-boxes .inner {
    height: 200px; }
  .popular-categories .big .box {
    height: 200px; }

  .shop-product {
    padding: 0 5px; }

  .narrow-product .shop-button {
    width: 105px; } }
@media (max-width: 425px) {
  .popular-categories .four-boxes .box {
    max-width: 100%;
    flex: 0 0 100%; } }
.newsletter .inner {
  align-items: center;
  padding: 20px 15px;
  color: white; }
.newsletter .text {
  padding-left: 40px;
  padding-right: 30px;
  display: inline-block;
  font-size: 14px; }
.newsletter .email-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  position: relative; }
  .newsletter .email-wrapper::before {
    content: "";
    background-image: url("../img/envelope.png");
    width: 19px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 7.5px);
    left: 10px; }
  .newsletter .email-wrapper .email-input {
    background-color: #4a0c0d;
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    height: 36px;
    width: 250px;
    color: white;
    padding-left: 40px; }
  .newsletter .email-wrapper .small-button {
    margin-right: 25px; }
  .newsletter .email-wrapper label {
    margin: 0;
    padding-left: 10px;
    font-size: 12px; }

.footer .line {
  margin: 0;
  border-top: 1px solid #313131; }
.footer .company-info {
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer .company-info .text {
    color: darkgray;
    font-size: 14px;
    padding-left: 30px; }
.footer .designer p {
  margin: 0;
  color: darkgray;
  font-size: 14px;
  padding-right: 15px;
  display: inline-block; }
.footer .designer img {
  display: inline-block; }
.footer .footer-logo {
  display: inline-block; }
.footer .header {
  color: white;
  margin: 0; }
  .footer .header.upper-case {
    text-transform: uppercase; }
  .footer .header.top-footer-header {
    margin-bottom: 20px; }
.footer .contact-info li {
  padding-bottom: 30px;
  position: relative;
  padding-left: 55px; }
  .footer .contact-info li img {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 5px; }
.footer .contact-info p {
  margin-bottom: 0; }
.footer .contact-info .main-text {
  color: white; }
.footer .contact-info .sub-text {
  color: darkgray; }
.footer .top-footer {
  padding-top: 45px; }
.footer ul {
  list-style-type: none; }
.footer .footer-default-list li {
  margin-bottom: 15px; }
  .footer .footer-default-list li a {
    color: darkgray; }
.footer .footer-fb-list li {
  padding-left: 50px;
  position: relative;
  margin-bottom: 15px;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px 0 50px; }
  .footer .footer-fb-list li::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: " ";
    background-image: url("../img/facebook.svg");
    background-size: 40px 40px;
    height: 40px;
    width: 40px; }
  .footer .footer-fb-list li a {
    color: whitesmoke;
    display: inline-block;
    word-break: break-all; }
.footer .bottom-footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px; }
.footer .footer-bottom-menu li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #313131;
  line-height: 1;
  font-size: 14px; }
  .footer .footer-bottom-menu li:last-of-type {
    border-color: transparent; }
  .footer .footer-bottom-menu li a {
    color: darkgray; }

@media (max-width: 1300px) {
  .newsletter .text {
    padding-left: 20px; } }
@media (max-width: 1199.9px) {
  .footer .top-footer {
    padding-top: 50px; }
  .footer .footer-bottom-menu li:last-of-type {
    padding-right: 0; } }
@media (max-width: 991.9px) {
  .footer .footer-menu-wrapper {
    margin-bottom: 15px; }
  .footer .company-info {
    order: 1; }
  .footer .designer {
    order: 2;
    margin-top: 20px; }
  .footer .footer-bottom-menu li:first-of-type {
    padding-left: 0; }
  .footer .bottom-footer .inner {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center; } }
@media (max-width: 575.9px) {
  .footer .company-info .text {
    font-size: 13px;
    padding-left: 10px; }
  .footer .bottom-footer .inner {
    align-items: flex-start; }
  .footer .footer-bottom-menu li {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border: none;
    padding: 0; }
  .footer .footer-fb-list {
    display: block; }
    .footer .footer-fb-list li {
      width: 100%; } }
.search {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .search button {
    background: transparent;
    outline: none;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    border: none;
    width: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 25px;
    cursor: pointer; }
  .search.show {
    display: flex; }

.search .close-search-wrapper {
  position: absolute;
  top: 100px;
  right: 200px; }
.search .close-search {
  font-size: 50px;
  color: white;
  cursor: pointer; }

.search-wrapper {
  padding: 0 150px;
  width: 100%; }
  .search-wrapper input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    color: darkgray;
    font-size: 24px;
    font-weight: 400; }

.icon-bar {
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  background-color: #740e12;
  display: block; }
  .icon-bar:last-of-type {
    margin-bottom: 0; }

.close-mobile-menu-wrapper {
  display: none; }
  .close-mobile-menu-wrapper .close-menu {
    position: absolute;
    right: -25px;
    top: 0;
    z-index: 10;
    cursor: pointer;
    -webkit-transition: 0.25s all ease;
    -moz-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
    opacity: 0;
    width: 25px;
    height: auto; }

.navbar-toggler {
  outline: none !important;
  padding: 0; }
  .navbar-toggler img {
    width: 35px;
    height: auto;
    position: relative;
    top: 3px; }

.navbar-collapse {
  padding-left: 70px;
  flex-basis: auto; }

.social-section {
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  right: 30px; }
  .social-section a {
    display: inline-block;
    margin-right: 18px;
    position: relative; }
    .social-section a:last-of-type {
      margin-right: 0; }
  .social-section .shop {
    position: relative; }
    .social-section .shop .number-of-items {
      display: flex;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      line-height: 1;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 12px;
      position: absolute;
      top: -5px;
      right: -12px;
      z-index: 1;
      background-color: #f18928; }

.navbar-brand {
  margin: 0;
  padding: 0; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }
  .menu.sticky {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29); }
    .menu.sticky .navbar-expand-xl {
      -webkit-transition: 0.5s all ease;
      -moz-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      transition: 0.5s all ease;
      padding: 10px 0; }
    .menu.sticky .top-bar {
      padding: 0;
      height: 0; }
    .menu.sticky .close-mobile-menu-wrapper .close-menu {
      top: 30px; }
  .menu .container {
    justify-content: flex-start;
    padding: 0 30px;
    position: relative; }

.navbar-expand-xl {
  padding: 10px 0; }
  .navbar-expand-xl .navbar-nav {
    flex-flow: row wrap;
    padding-left: 60px;
    padding-right: 190px; }
    .navbar-expand-xl .navbar-nav .menu-item {
      margin: 0px 10px;
      flex-grow: 1; }
      .navbar-expand-xl .navbar-nav .menu-item a {
        color: #740e12;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700; }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
      width: 100%;
      min-width: 200px;
      padding: 0;
      padding: 0;
      border-radius: 0; }
      .navbar-expand-xl .navbar-nav .dropdown-menu .menu-item {
        margin: 0; }
        .navbar-expand-xl .navbar-nav .dropdown-menu .menu-item:last-of-type a {
          border: none; }
        .navbar-expand-xl .navbar-nav .dropdown-menu .menu-item a {
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          padding: 4px 7px;
          display: block;
          text-transform: none; }

.top-bar {
  line-height: 1;
  padding: 8px 0;
  font-size: 14px;
  -webkit-transition: 250ms all ease;
  -moz-transition: 250ms all ease;
  -o-transition: 250ms all ease;
  transition: 250ms all ease; }
  .top-bar p {
    color: white;
    margin-bottom: 0; }
  .top-bar a {
    color: white; }

@media (max-width: 1199.9px) {
  .search .close-search-wrapper {
    right: 100px; }

  .close-mobile-menu-wrapper {
    display: block; }

  .navbar-expand-xl {
    padding: 15px 0; }
    .navbar-expand-xl .navbar-nav {
      flex-flow: column wrap;
      padding-right: 15px; }
      .navbar-expand-xl .navbar-nav .menu-item {
        margin: 7.5px 10px; }
        .navbar-expand-xl .navbar-nav .menu-item a {
          font-size: 16px; }

  .social-section {
    margin-left: 0;
    position: static; }

  .top-bar {
    text-align: center; }

  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
    overflow: hidden;
    z-index: 10; }
    .menu.sticky .navbar-brand {
      height: 0;
      padding: 0;
      margin: 0;
      -webkit-transition: 0.5s all ease;
      -moz-transition: 0.5s all ease;
      -o-transition: 0.5s all ease;
      transition: 0.5s all ease; }
      .menu.sticky .navbar-brand img {
        height: 0; }
    .menu .container {
      justify-content: center;
      position: static; }

  .navbar-brand {
    display: block;
    width: 100%;
    margin-bottom: 10px; }
    .navbar-brand img {
      margin: 0 auto;
      display: block; }

  .navbar-toggler {
    margin-left: 15px; }

  .menu-content {
    top: 0;
    position: fixed;
    right: -350px;
    padding: 0;
    z-index: 9;
    width: 350px;
    height: 100vh;
    background-color: white;
    padding-top: 75px;
    padding-left: 25px;
    opacity: 0;
    -webkit-transition: 0.15s all ease;
    -moz-transition: 0.15s all ease;
    -o-transition: 0.15s all ease;
    transition: 0.15s all ease; }
    .menu-content.show {
      right: 0;
      opacity: 1;
      -webkit-transition: 0.15s all ease;
      -moz-transition: 0.15s all ease;
      -o-transition: 0.15s all ease;
      transition: 0.15s all ease; }
      .menu-content.show ~ .close-mobile-menu-wrapper .close-menu {
        opacity: 1;
        right: 30px; } }
@media (max-width: 991.9px) {
  .search-wrapper {
    padding: 0 75px; } }
@media (max-width: 575.9px) {
  .narrow-product img {
    max-width: 90%; }

  .menu-content {
    width: 100%;
    max-width: 320px;
    right: -320px; }

  .navbar-expand-xl .navbar-nav {
    padding-left: 0; }

  .search-wrapper {
    padding: 0 25px; }

  .search button {
    font-size: 17px; }
  .search .close-search-wrapper {
    right: 30px; }
  .search .close-search {
    font-size: 32px; } }
.main-slider-section .slider-boxes {
  margin: -77px 0 50px;
  position: relative;
  z-index: 2; }
  .main-slider-section .slider-boxes p {
    margin: 0;
    padding-left: 15px;
    font-size: 14px;
    color: #740e12;
    font-weight: 300;
    line-height: 1.25; }
    .main-slider-section .slider-boxes p span {
      width: 100%;
      display: block;
      font-weight: 700;
      font-size: 28px; }
  .main-slider-section .slider-boxes i {
    font-size: 54px;
    color: #f18928; }
  .main-slider-section .slider-boxes .inner {
    display: flex;
    align-items: center;
    padding: 30px 15px;
    -webkit-box-shadow: 0px 0px 10px 1px #cccccc;
    -moz-box-shadow: 0px 0px 10px 1px #cccccc;
    box-shadow: 0px 0px 10px 1px #cccccc;
    background-color: white; }
.main-slider-section .slider-wrapper {
  position: relative; }
.main-slider-section .owl-carousel .owl-nav .owl-prev,
.main-slider-section .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 22.5px);
  color: white;
  font-size: 30px; }
.main-slider-section .owl-carousel .owl-nav .owl-prev {
  left: 15px; }
.main-slider-section .owl-carousel .owl-nav .owl-next {
  right: 15px; }
.main-slider-section .owl-carousel .owl-dots {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
  justify-content: flex-end;
  padding: 0 30px;
  position: relative;
  top: -80px; }
.main-slider-section .owl-carousel .owl-dot {
  width: 16px;
  height: 16px;
  border: 5px solid;
  border-radius: 50%;
  border-color: white;
  background: #cacaca;
  margin: 0 2.5px; }
  .main-slider-section .owl-carousel .owl-dot:last-of-type {
    margin-right: 0; }
  .main-slider-section .owl-carousel .owl-dot.active {
    background: #740e12; }
.main-slider-section .owl-stage {
  margin: 0 auto; }
.main-slider-section .item {
  height: 400px;
  text-align: right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-background-position: center;
  -o-background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: white; }
  .main-slider-section .item .container {
    padding: 0 30px; }
  .main-slider-section .item p {
    color: white;
    font-size: 30px;
    margin: 0;
    line-height: 1; }
    .main-slider-section .item p:last-of-type {
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 10px 0 25px; }

.clients-about-us {
  background-color: #546775;
  background-image: url("../img/about-us-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0 0; }
  .clients-about-us .row {
    min-height: 560px;
    align-items: center; }
  .clients-about-us .image {
    align-self: flex-end; }
    .clients-about-us .image img {
      max-width: 100%;
      height: auto;
      display: block; }
  .clients-about-us .content {
    display: flex;
    display: -moz-box;
    flex-flow: column wrap;
    justify-content: center;
    padding-bottom: 45px; }
  .clients-about-us .title {
    color: #f18928;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    line-height: 1.35;
    margin-bottom: 60px; }
    .clients-about-us .title span {
      display: block;
      width: 100%;
      color: white;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase; }
  .clients-about-us .text-wrapper {
    padding: 25px;
    background-color: white;
    position: relative;
    margin-bottom: 15px;
    border-radius: 3px; }
    .clients-about-us .text-wrapper::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 30px solid white;
      border-left: 1px solid transparent;
      border-right: 36px solid transparent;
      bottom: -30px;
      left: 30px; }
    .clients-about-us .text-wrapper p {
      margin-bottom: 0;
      font-size: 14px; }
  .clients-about-us .author {
    padding-left: 75px;
    text-transform: uppercase;
    color: white; }
  .clients-about-us .owl-carousel::before {
    content: "";
    background-image: url("../img/quote.png");
    width: 20px;
    height: 19px;
    display: block;
    position: absolute;
    top: -9px;
    left: 13px;
    z-index: 3; }
  .clients-about-us .owl-carousel .owl-nav .owl-prev,
  .clients-about-us .owl-carousel .owl-nav .owl-next {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: #f18928;
    border-radius: 50%;
    align-items: center;
    color: white;
    justify-content: center; }
  .clients-about-us .owl-carousel .owl-nav .owl-next {
    margin-left: 7px; }

.news.home-background {
  padding-top: 40px;
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("../img/news-bg-home.png"); }
.news.home {
  padding-bottom: 150px; }
  .news.home .button-arrow {
    display: flex;
    margin: 0 auto; }
    .news.home .button-arrow:hover {
      background-color: #740e12;
      color: #fff; }
  .news.home .single-news {
    margin-bottom: 30px; }

@media (max-width: 1366px) {
  .news.home-background {
    background-image: none !important;
    position: relative;
    padding: 50px 0; }
    .news.home-background .background-text {
      display: block;
      color: #cfcfcf;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0.05em;
      font-size: 5em;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0; } }
@media (max-width: 1199.9px) {
  .main-slider-section .slider-boxes p span {
    font-size: 23px; }
  .main-slider-section .item p {
    font-size: 30px; }
    .main-slider-section .item p:last-of-type {
      font-size: 46px; } }
@media (max-width: 991.9px) {
  .news.home-background {
    background-position: top 15px center; }
    .news.home-background .background-text {
      font-size: 5em; }

  .clients-about-us {
    padding: 25px 0;
    background-position: right; }
    .clients-about-us .row {
      min-height: auto; }
    .clients-about-us .content {
      padding-bottom: 0; }
    .clients-about-us .image {
      display: none; }
    .clients-about-us .title {
      margin-bottom: 30px; }

  .main-slider-section .item .container {
    text-align: center; }
  .main-slider-section .owl-carousel .owl-dots {
    top: -50px;
    justify-content: center; }
  .main-slider-section .slider-boxes {
    margin: 5px 0 15px; }
    .main-slider-section .slider-boxes .box {
      margin-bottom: 25px; } }
@media (max-width: 767.9px) {
  .clients-about-us .title span {
    font-size: 24px; }

  .news.home-background {
    padding-top: 75px; }
    .news.home-background .background-text {
      font-size: 3em; }

  .main-slider-section .item p {
    font-size: 24px; }
    .main-slider-section .item p:last-of-type {
      font-size: 34px; } }
@media (max-width: 575.9px) {
  .news.home-background {
    padding-top: 50px; }
    .news.home-background .background-text {
      font-size: 2em; }

  .main-slider-section .item {
    height: calc(100vh - 173px); }
  .main-slider-section .slider-boxes p span {
    font-size: 20px; }
  .main-slider-section .item p {
    font-size: 17px; }
    .main-slider-section .item p:last-of-type {
      font-size: 20px; } }
.single-post.page-content {
  padding-top: 0; }

.page-news {
  padding-bottom: 80px; }
  .page-news .news .row {
    padding: 0; }
  .page-news .content {
    padding-right: 65px; }
  .page-news .sidebar {
    padding-left: 65px; }
  .page-news .main-news {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 70px;
    padding: 0 15px; }
    .page-news .main-news img {
      max-width: 100%; }
    .page-news .main-news .inner {
      display: block; }
    .page-news .main-news .date {
      display: inline-block;
      width: 100%;
      color: gray;
      margin-bottom: 10px;
      font-size: 14px; }
    .page-news .main-news .text {
      width: calc(100% - 350px);
      padding-left: 30px; }
    .page-news .main-news .title {
      margin-bottom: 30px;
      color: black;
      font-size: 30px;
      font-weight: 900; }
    .page-news .main-news p {
      color: #4f4f4f;
      font-size: 14px;
      font-weight: 600; }
    .page-news .main-news .arrow {
      color: #f18928; }
  .page-news .news .single-news:hover {
    background-color: transparent; }
  .page-news .news .single-news .inner {
    padding: 0; }

@media (max-width: 1199.9px) {
  .page-news .content {
    padding-right: 0; } }
@media (max-width: 991.9px) {
  .page-news .sidebar {
    padding-left: 15px; }
  .page-news .content {
    padding-bottom: 40px; } }
@media (max-width: 767.9px) {
  .page-news .main-news {
    margin-bottom: 30px; }
    .page-news .main-news .title {
      margin-bottom: 15px; }
    .page-news .main-news .text {
      width: 100%;
      padding-left: 0;
      margin-top: 15px; } }
.price-slider-wrapper {
  margin-bottom: 30px;
  max-width: 175px;
  width: 100%; }
  .price-slider-wrapper .value {
    font-size: 14px;
    color: #1a1a1a;
    display: inline-block; }

.price-filter {
  background-color: #f18928;
  color: white;
  font-size: 15px;
  font-weight: 400;
  display: block;
  outline: none !important;
  border: none;
  width: 100%;
  height: 30px;
  text-transform: uppercase;
  margin-top: 30px;
  cursor: pointer; }

.values-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 5px;
  font-size: 15px; }

.noUi-horizontal {
  height: 15px;
  border: none !important;
  box-shadow: none !important; }
  .noUi-horizontal .noUi-handle {
    width: 19px;
    height: 19px;
    border: none;
    border-radius: 3px;
    background-color: #f18928;
    outline: none;
    top: -2px;
    box-shadow: none; }
    .noUi-horizontal .noUi-handle::before, .noUi-horizontal .noUi-handle::after {
      display: none; }

.noUi-connects {
  background-color: #e5e5e5; }

.noUi-connect {
  background-color: #740e12; }

.sidebar.news-sidebar .search-wrapper-sidebar {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 30px; }
  .sidebar.news-sidebar .search-wrapper-sidebar input {
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    outline: none;
    padding: 10px;
    font-size: 14px;
    position: relative;
    width: 100%;
    color: #4f4f4f; }
  .sidebar.news-sidebar .search-wrapper-sidebar::after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f18928;
    position: absolute;
    font-size: 14px;
    top: calc(50% - 7px);
    right: 15px;
    line-height: 1; }
  .sidebar.news-sidebar .search-wrapper-sidebar .commercial-place {
    max-width: 100%;
    height: auto;
    display: block; }
.sidebar .filter-header {
  display: none;
  width: 100%;
  padding: 20px 0;
  align-items: center;
  background-color: #fff;
  margin-bottom: 8px; }
.sidebar .mobile-category-filter-menu .header {
  display: none;
  width: auto;
  text-align: center;
  font-size: 21px;
  font-weight: 900;
  color: black;
  margin: 0;
  font-weight: 700;
  color: #740e12;
  text-transform: uppercase; }
.sidebar .mobile-category-filter-menu .clear {
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px;
  color: #740e12;
  display: inline-block;
  border: 1px solid #740e12; }
.sidebar .mobile-category-filter-menu .close-menu-wrapper {
  display: none; }
.sidebar .dropdown .btn {
  background-color: white;
  width: 100%;
  color: #4f4f4f;
  border: 1px solid whitesmoke;
  outline: none;
  box-shadow: unset;
  position: relative;
  text-align: left;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px; }
.sidebar .dropdown .dropdown-item {
  font-size: 15px; }
.sidebar .dropdown .dropdown-menu {
  width: 100%; }
.sidebar .dropdown .dropdown-item:focus, .sidebar .dropdown .dropdown-item:hover {
  background-color: #f18928;
  color: white; }
.sidebar .dropdown .dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: calc(50% - 2.4px);
  border-top-color: #f18928; }
.sidebar .wrapper {
  padding-bottom: 30px; }

.category-list {
  list-style-type: none;
  line-height: 1;
  font-size: 0; }
  .category-list li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 15px; }
    .category-list li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 0;
      height: 0;
      border-left: 6px solid #f18928;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent; }
    .category-list li a {
      font-size: 15px;
      display: inline-block;
      color: #4f4f4f; }

.filter-list {
  list-style-type: none; }
  .filter-list li {
    font-size: 15px;
    display: inline-block;
    color: #4f4f4f; }

@media (max-width: 991.9px) {
  .price-slider-wrapper {
    max-width: 100%; }

  .filter-list li {
    display: block; }

  .category-list li {
    width: 50%;
    display: inline-block; }

  .sidebar {
    padding: 0 30px; }
    .sidebar.news-sidebar {
      padding: 0 15px; }
    .sidebar .filter-header {
      display: flex;
      justify-content: space-around; }
    .sidebar .scrollable-content {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      padding-bottom: 24px;
      background-color: #efeaea; }
    .sidebar .mobile-category-filter-menu {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      z-index: 11;
      height: 100%;
      width: 100%;
      display: none; }
      .sidebar .mobile-category-filter-menu .header {
        display: inline-block; }
      .sidebar .mobile-category-filter-menu.show {
        display: block; }
      .sidebar .mobile-category-filter-menu .wrapper {
        width: 100%;
        padding: 30px 65px;
        margin-bottom: 8px;
        background-color: #fff; }
      .sidebar .mobile-category-filter-menu .close-menu-wrapper {
        width: 100%;
        display: block;
        text-align: center;
        background-color: #740e12;
        padding: 10px 0;
        font-weight: 700;
        position: absolute;
        bottom: 0; }
        .sidebar .mobile-category-filter-menu .close-menu-wrapper a {
          color: white;
          font-size: 18px;
          text-transform: uppercase; } }
@media (max-width: 575.9px) {
  .sidebar .mobile-category-filter-menu .close-menu-wrapper {
    padding: 5px 0; }
    .sidebar .mobile-category-filter-menu .close-menu-wrapper a {
      font-size: 15px; }
  .sidebar .mobile-category-filter-menu .square-header {
    margin-bottom: 20px; }
  .sidebar .mobile-category-filter-menu .wrapper {
    width: 100%;
    padding: 15px 30px; } }
.woocommerce-order-downloads table {
  padding: 0 15px; }
  .woocommerce-order-downloads table.shop_table .download-product {
    padding-left: 0 !important; }
  .woocommerce-order-downloads table.shop_table .download-file {
    padding-right: 0 !important;
    text-align: right; }
    .woocommerce-order-downloads table.shop_table .download-file a {
      text-align: center;
      text-transform: uppercase;
      font-size: 14px; }

.my-account table.shop_table_responsive tr:nth-child(2n) td {
  background-color: white !important; }
.my-account .buttons {
  text-align: right; }
.my-account .header-wrapper .line {
  border: none;
  margin: 0;
  border-top: 1px solid #cdcdcd;
  width: 100%; }
.my-account .pagination {
  padding: 25px 15px 0; }
.my-account .header {
  margin-bottom: 15px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px; }
.my-account .nav-tabs {
  border: none;
  padding: 15px 0 40px;
  margin: 0 -15px; }
  .my-account .nav-tabs .nav-item {
    margin: 0;
    flex-grow: 1;
    padding: 0 15px;
    margin-bottom: 15px; }
    .my-account .nav-tabs .nav-item.is-active .nav-link {
      background-color: #f18928; }
  .my-account .nav-tabs .nav-link {
    text-align: center;
    background-color: #740e12;
    color: white;
    text-transform: uppercase;
    padding: 0;
    border: none;
    border-radius: 3px;
    height: 45px;
    line-height: 45px; }
    .my-account .nav-tabs .nav-link.active {
      border: none;
      background-color: #f18928; }

.woocommerce-MyAccount-content .woocommerce-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .woocommerce-MyAccount-content .woocommerce-pagination a.woocommerce-button:hover {
    opacity: 0.85;
    color: white !important;
    background-color: #740e12 !important; }
.woocommerce-MyAccount-content a {
  color: #f18928;
  font-weight: 700; }
  .woocommerce-MyAccount-content a:hover {
    color: #740e12; }
  .woocommerce-MyAccount-content a.woocommerce-button {
    font-size: 16px;
    color: #fff;
    background-color: #740e12;
    font-weight: 400;
    border-radius: 3px;
    width: 115px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 0;
    display: block; }

.ordered-product {
  display: block;
  margin-bottom: 25px;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 25px; }
  .ordered-product.paid .small-button.black {
    display: none; }
  .ordered-product.paid .status .not-pay {
    display: none; }
  .ordered-product.unpaid .small-button.orange {
    display: none; }
  .ordered-product.unpaid .status .pay {
    display: none; }
  .ordered-product .line-wrapper {
    padding: 0 15px; }
  .ordered-product .line {
    border: none;
    margin: 25px 0;
    border-top: 1px solid #cdcdcd;
    width: 100%; }
  .ordered-product .desc {
    color: black;
    font-size: 24px;
    font-weight: 900;
    padding: 0 15px; }
  .ordered-product .small-text {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: darkgray;
    font-weight: 600; }
  .ordered-product .price .value {
    font-size: 18px;
    color: #740e12;
    font-weight: 900; }
  .ordered-product .status .pay {
    color: #399a18;
    font-size: 18px;
    font-weight: 900; }
  .ordered-product .status .not-pay {
    color: #d81d1d;
    font-size: 18px;
    font-weight: 900; }

@media (max-width: 1199.9px) {
  .my-account .nav-tabs .nav-item {
    font-size: 14px; } }
@media (max-width: 991.9px) {
  .my-account .nav-tabs {
    margin: 0 -15px;
    padding: 0 0 20px; }
    .my-account .nav-tabs .nav-item {
      flex-grow: unset;
      margin: 10px 0;
      width: 50%; } }
@media (max-width: 767.9px) {
  .woocommerce .woocommerce-order-downloads table.shop_table_responsive tr td::before,
  .woocommerce .woocommerce-order-downloads table.shop_table_responsive .woocommerce-page table.shop_table_responsive tr td::before {
    display: block;
    width: 100%;
    float: none;
    text-align: left;
    border-bottom: 1px solid black;
    margin-bottom: 5px; }
  .woocommerce .woocommerce-order-downloads table.shop_table_responsive td {
    border: none;
    text-align: left !important; }
  .woocommerce .woocommerce-order-downloads table.shop_table .download-product {
    padding: 6px 0 !important; }
  .woocommerce .woocommerce-order-downloads table.shop_table .download-remaining {
    padding: 6px 0 !important; }
  .woocommerce .woocommerce-order-downloads table.shop_table .download-expires {
    padding: 6px 0 !important; }
  .woocommerce .woocommerce-order-downloads table.shop_table .download-file {
    padding: 6px 0 !important;
    text-align: right; }
    .woocommerce .woocommerce-order-downloads table.shop_table .download-file a {
      margin-top: 30px !important; }

  .ordered-product .desc {
    font-size: 19px; }

  .woocommerce-orders-table__cell::before {
    display: none; }
  .woocommerce-orders-table__cell-order-photo {
    display: block;
    width: 45%; }
  .woocommerce-orders-table__cell-order-item-name {
    display: block;
    width: 55%; }
    .woocommerce-orders-table__cell-order-item-name .desc {
      text-align: left; }
  .woocommerce-orders-table__cell-order-total .price {
    text-align: left; }
  .woocommerce-orders-table__cell-order-status .status {
    text-align: left; }

  .my-account .nav-tabs .nav-link {
    font-size: 13px; }

  .woocommerce-MyAccount-content a.woocommerce-button {
    width: 115px !important;
    margin: 0 !important; } }
@media (max-width: 515px) {
  .woocommerce-orders-table__cell-order-photo {
    display: block;
    width: 100%; }
  .woocommerce-orders-table__cell-order-item-name {
    display: block;
    width: 100%; }
    .woocommerce-orders-table__cell-order-item-name .desc {
      padding: 0;
      margin: 10px 0; }
  .woocommerce-orders-table__cell-order-total {
    display: block;
    width: 100%;
    margin-top: 10px; }
  .woocommerce-orders-table__cell-order-status {
    display: block;
    width: 100%;
    margin-top: 10px; }
  .woocommerce-orders-table__cell-order-actions {
    display: block;
    width: 100%;
    margin-top: 10px; }
    .woocommerce-orders-table__cell-order-actions .buttons {
      margin-top: 10px; }
      .woocommerce-orders-table__cell-order-actions .buttons a {
        margin-left: 0; }

  .ordered-product {
    flex-flow: column;
    align-items: flex-start; } }
@media (max-width: 479px) {
  .my-account .nav-tabs {
    margin: 0 -7.5px; }
    .my-account .nav-tabs .nav-item {
      padding: 0 7.5px; }
    .my-account .nav-tabs .nav-link {
      font-size: 11px; } }
.chosen-product-popular-products .shop-product {
  padding-left: 15px;
  margin-bottom: 24px; }

.price-wrapper.simple-product-view .price {
  display: inline-block;
  font-size: 32px;
  color: #740e12;
  font-weight: 700; }
  .price-wrapper.simple-product-view .price .old-price {
    font-size: 18px;
    color: black;
    margin-right: 10px; }

.chosen-product .product-big-photo {
  height: auto; }
.chosen-product img {
  max-width: 100%;
  height: auto;
  width: 100%; }
.chosen-product .header {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1; }
.chosen-product p {
  font-size: 14px;
  margin-bottom: 30px;
  color: #4f4f4f;
  padding-right: 30px; }
  .chosen-product p:first-of-type {
    margin-top: 25px; }
.chosen-product .button-wrapper {
  padding: 20px 0;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray; }
.chosen-product .link {
  text-transform: uppercase;
  color: #740e12;
  font-weight: 900;
  text-decoration: none;
  font-size: 14px; }
.chosen-product .big-button {
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-transform: uppercase;
  color: white;
  display: block;
  border-radius: 3px;
  text-align: center; }
.chosen-product .slider-wrapper {
  margin-top: 10px;
  padding: 0 27px; }
.chosen-product .product-big-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  padding: 15px;
  height: auto; }
  .chosen-product .product-big-photo img {
    max-width: 70%;
    margin: 0 auto;
    height: auto;
    display: block; }
.chosen-product .owl-carousel .owl-nav .owl-prev,
.chosen-product .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 0;
  height: 100%;
  width: 22px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 3px;
  font-size: 0; }
  .chosen-product .owl-carousel .owl-nav .owl-prev::before,
  .chosen-product .owl-carousel .owl-nav .owl-next::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 4px);
    width: 0;
    height: 0;
    margin: 0 auto; }
.chosen-product .owl-carousel .owl-nav .owl-prev {
  left: -27px; }
  .chosen-product .owl-carousel .owl-nav .owl-prev::before {
    border-right: 5px solid darkgray;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; }
.chosen-product .owl-carousel .owl-nav .owl-next {
  right: -27px; }
  .chosen-product .owl-carousel .owl-nav .owl-next::before {
    border-left: 5px solid darkgray;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; }
.chosen-product .owl-carousel .owl-item {
  width: 97px;
  height: 97px;
  border-radius: 3px;
  text-align: center;
  padding: 0 3px; }
  .chosen-product .owl-carousel .owl-item img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: inline-block; }
.chosen-product .owl-carousel .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid whitesmoke;
  padding: 0 10px;
  cursor: pointer; }

.about-product {
  padding-top: 40px;
  position: relative;
  margin-bottom: 35px; }
  .about-product .comment-reply-title {
    display: block;
    font-size: 14px; }
  .about-product .woocommerce-Reviews {
    font-size: 14px;
    padding: 0 15px; }
    .about-product .woocommerce-Reviews .comment-reply-title {
      display: none; }
    .about-product .woocommerce-Reviews .stars {
      font-size: 0;
      margin-bottom: 0; }
      .about-product .woocommerce-Reviews .stars a::before {
        content: '\2606';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 16px;
        color: #fdca00; }
      .about-product .woocommerce-Reviews .stars a:hover::before {
        content: '\2605'; }
      .about-product .woocommerce-Reviews .stars a.on::before {
        content: '\2605'; }
    .about-product .woocommerce-Reviews .woocommerce-review__published-date {
      font-size: 13px;
      color: darkgray; }
    .about-product .woocommerce-Reviews .commentlist {
      list-style: none; }
    .about-product .woocommerce-Reviews .comment-text {
      padding-left: 20px;
      width: calc(100% - 60px);
      margin-bottom: 30px; }
    .about-product .woocommerce-Reviews .comment_container {
      display: flex;
      flex-flow: row wrap; }
    .about-product .woocommerce-Reviews .comment-notes {
      font-size: 13px;
      font-weight: 300; }
    .about-product .woocommerce-Reviews .comment-form-rating {
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      .about-product .woocommerce-Reviews .comment-form-rating label {
        width: auto;
        padding-right: 15px;
        margin-bottom: 0; }
    .about-product .woocommerce-Reviews label {
      width: 120px; }
    .about-product .woocommerce-Reviews .comment-form-comment {
      width: 100%;
      display: inline-block; }
      .about-product .woocommerce-Reviews .comment-form-comment textarea {
        width: 100%;
        border: 1px solid #ccc;
        outline: none;
        padding: 5px 10px; }
      .about-product .woocommerce-Reviews .comment-form-comment label {
        vertical-align: top;
        font-size: 16px;
        font-weight: 600;
        display: block;
        margin: 10px 0; }
    .about-product .woocommerce-Reviews .comment-form-author {
      width: 30%;
      display: inline-block;
      margin: 15px 0; }
    .about-product .woocommerce-Reviews .comment-form-email {
      width: 30%;
      display: inline-block;
      margin: 15px 0; }
    .about-product .woocommerce-Reviews .submit {
      background-color: #740e12;
      color: white;
      outline: none;
      border: none;
      width: 150px;
      height: 45px;
      text-align: center;
      margin-top: 15px; }
    .about-product .woocommerce-Reviews .stars span {
      display: block; }
    .about-product .woocommerce-Reviews .stars a {
      color: black;
      display: inline-block;
      padding: 0 2.5px; }
      .about-product .woocommerce-Reviews .stars a:hover {
        color: #740e12; }
    .about-product .woocommerce-Reviews p {
      padding: 0; }
    .about-product .woocommerce-Reviews .woocommerce-Reviews-title {
      text-align: center;
      margin: 20px 0;
      font-size: 22px;
      font-weight: 700; }
    .about-product .woocommerce-Reviews input {
      position: static;
      opacity: 1;
      border: 1px solid #ccc;
      outline: none;
      padding: 5px 10px;
      font-size: 14px; }
  .about-product .tab-pane {
    padding: 15px 0; }
  .about-product .page-content {
    padding: 15px 30px; }
  .about-product .mobile {
    display: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400; }
  .about-product .border-content {
    border: 1px solid #e5e5e5;
    border-top: none;
    display: block; }
  .about-product .container {
    padding: 0 30px; }
  .about-product .box-shadow {
    position: absolute;
    height: calc(100% - 10px);
    top: 10px;
    right: 0;
    z-index: 1;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    display: none; }
  .about-product .input-wrapper {
    position: relative;
    padding: 0 25px;
    line-height: 1;
    margin-bottom: 0;
    cursor: pointer;
    color: #4f4f4f;
    font-size: 14px; }
  .about-product input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .about-product .custom-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    z-index: 1; }
    .about-product .custom-input::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      border: 3px solid #fff;
      border-radius: 50%; }
  .about-product .input-wrapper input:checked ~ .custom-input {
    background-color: #f18928; }
  .about-product .box {
    padding: 0;
    padding: 0 7.5px; }
  .about-product .nav-tabs {
    border: none;
    margin: 0;
    padding: 0; }
    .about-product .nav-tabs .nav-item {
      flex-grow: 1;
      border: 1px solid whitesmoke;
      border-right: none;
      margin: 0;
      text-align: center; }
      .about-product .nav-tabs .nav-item:first-of-type {
        border-left: none; }
    .about-product .nav-tabs .nav-link {
      color: #1a1a1a;
      text-transform: uppercase;
      height: 55px;
      line-height: 53px;
      padding: 0;
      border-radius: 0;
      font-size: 14px;
      font-weight: 700; }
      .about-product .nav-tabs .nav-link.active {
        border-color: transparent;
        background-color: #740e12;
        color: white; }
  .about-product .left {
    padding: 170px 0 0 15px; }
  .about-product .offer-name {
    background-color: #740e12;
    padding: 20px 0;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 1.25;
    text-transform: uppercase;
    border-top: 10px solid #f18928;
    border-radius: 5px 5px 0 0; }
  .about-product .product-duration {
    padding: 35px 0;
    line-height: 1;
    display: block; }
    .about-product .product-duration .text {
      font-weight: 700;
      color: black;
      display: inline-block;
      padding-right: 35px; }
  .about-product .pricing {
    display: none; }
    .about-product .pricing.chosen {
      display: flex;
      border-radius: 5px;
      margin: 0 -7.5px; }
  .about-product .option-list {
    list-style: none; }
    .about-product .option-list li {
      line-height: 1.25;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border-bottom: 1px solid transparent;
      font-size: 14px;
      color: #4f4f4f;
      padding: 0 20px;
      position: relative;
      min-height: 50px; }
      .about-product .option-list li .expand-content {
        position: absolute;
        right: 5px;
        font-size: 20px;
        color: black;
        cursor: pointer;
        z-index: 2; }
      .about-product .option-list li .all-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 1;
        display: block;
        padding: 5px 0; }
        .about-product .option-list li .all-content.show {
          height: auto;
          white-space: unset; }
      .about-product .option-list li:nth-child(even) {
        background: whitesmoke; }
  .about-product .about-product-list {
    list-style: none;
    padding: 0 14px; }
    .about-product .about-product-list li {
      text-align: center;
      font-size: 18px;
      color: #1a1a1a;
      font-weight: 700;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      border-bottom: 1px solid #e9e9e9; }
      .about-product .about-product-list li:last-of-type {
        border-color: transparent; }
      .about-product .about-product-list li img {
        max-width: 100%;
        width: auto; }
  .about-product .summary-price {
    padding: 50px 0 40px;
    background-color: #f0e1e1;
    position: relative;
    z-index: 1;
    border-radius: 0 0 5px 5px; }
    .about-product .summary-price .price {
      font-size: 24px;
      color: #740e12;
      display: block;
      text-align: center;
      font-weight: 700;
      line-height: 1; }
    .about-product .summary-price .old-price {
      color: black;
      font-size: 16px; }
  .about-product .button {
    max-width: 180px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    display: block;
    margin: 25px auto 0;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 3px; }

@media (max-width: 1199.9px) {
  .about-product .left {
    padding: 187px 0 0 15px; }
  .about-product .button {
    max-width: 175px; }
  .about-product .summary-price .price {
    font-size: 21px; }
  .about-product .offer-name {
    font-size: 21px; } }
@media (max-width: 991.9px) {
  .about-product .woocommerce-Reviews .submit {
    margin: 0 auto 20px;
    display: block; }
  .about-product .woocommerce-Reviews .comment-form-email {
    width: 100%; }
  .about-product .woocommerce-Reviews .comment-form-author {
    width: 100%; }
  .about-product p {
    font-size: 14px; }
  .about-product .box-shadow {
    display: none; }
  .about-product .box {
    margin-bottom: 30px; }
    .about-product .box:last-of-type {
      margin-bottom: 0; }
  .about-product .tab-pane {
    padding-bottom: 0; }
  .about-product .about-product-list li {
    height: auto;
    padding: 10px 0; }
    .about-product .about-product-list li img {
      margin-top: 5px; }
  .about-product .mobile {
    display: block; }
  .about-product .content {
    display: block;
    width: 100%;
    font-size: 17px; }
  .about-product .left {
    display: none; }
  .about-product .product-duration {
    padding: 40px 15px; }

  .chosen-product .image {
    order: 2; }
  .chosen-product .desc {
    order: 1;
    margin-bottom: 30px; } }
@media (max-width: 767.9px) {
  .about-product .input-wrapper {
    display: block;
    margin-bottom: 10px; }
    .about-product .input-wrapper:first-of-type {
      margin-top: 10px; }
  .about-product .summary-price {
    padding: 30px 0 20px; }
  .about-product .border-content {
    padding-bottom: 0; }
  .about-product .button {
    max-width: 155px; }
  .about-product .offer-name {
    font-size: 17px;
    padding: 15px 0; }
  .about-product .about-product-list li {
    font-size: 15px; } }
@media (max-width: 575.9px) {
  .about-product .container {
    padding: 0 15px; }

  .chosen-product .header {
    font-size: 24px; }

  .about-product .woocommerce-Reviews .comment-text {
    width: 100%;
    padding-left: 0;
    padding-top: 20px; }
  .about-product .about-product-list li {
    font-size: 14px; }
  .about-product .button {
    max-width: 88px;
    height: 40px;
    line-height: 38px;
    font-size: 13px; }
  .about-product .summary-price .price {
    font-size: 15px; }
  .about-product .nav-tabs .nav-item {
    height: 50px;
    line-height: 48px;
    font-size: 12px;
    width: 50%; } }
.category-product {
  padding-bottom: 35px; }
  .category-product .content {
    padding-left: 0; }
  .category-product .sidebar {
    max-width: 220px;
    width: 100%;
    flex: auto; }
    .category-product .sidebar .square-header.small {
      font-size: 18px; }
      .category-product .sidebar .square-header.small::before {
        height: 17px;
        width: 5px; }
  .category-product .content {
    max-width: calc(100% - 220px);
    width: 100%;
    flex: auto; }
  .category-product .pagination {
    padding: 0 60px 30px; }

@media (max-width: 991.9px) {
  .category-product {
    padding: 0 0 35px; }
    .category-product .content {
      max-width: 100%;
      padding: 0 15px 15px;
      order: 0; }
    .category-product .pagination {
      padding: 15px 15px 30px; }
    .category-product .sidebar {
      max-width: 100%;
      order: 1;
      padding: 0 30px; } }
@media (max-width: 575.9px) {
  .category-product .sidebar {
    padding: 0 15px; }
  .category-product .content {
    padding: 0 0 15px; }
  .category-product .products-section {
    padding: 0 10px; } }
.return-to-shop {
  text-align: center; }

.cart-empty {
  text-align: center;
  font-size: 30px;
  padding: 30px 0; }

.woocommerce-steps {
  padding-top: 40px; }

.woocommerce-message {
  font-size: 15px;
  color: black;
  border-top-color: #740e12; }
  .woocommerce-message .restore-item {
    color: #740e12;
    font-size: 15px; }
  .woocommerce-message .button {
    background-color: #740e12;
    color: white; }

.woocommerce {
  padding: 0 15px 40px; }
  .woocommerce .quantity .qty {
    outline: none !important;
    width: 100;
    text-align: center;
    padding: 0 3px;
    border: 1px solid #ccc7c7; }
  .woocommerce .woocommerce-cart-form__cart-item .product-remove {
    width: 5%; }
  .woocommerce .woocommerce-cart-form__cart-item .product-thumbnail {
    width: 20%; }
  .woocommerce .woocommerce-cart-form__cart-item .product-name {
    width: 35%; }
  .woocommerce .woocommerce-cart-form__cart-item .product-price {
    width: 15%; }
  .woocommerce .woocommerce-cart-form__cart-item .product-quantity {
    width: 10%; }
  .woocommerce .woocommerce-cart-form__cart-item .product-subtotal {
    width: 15%; }
  .woocommerce .shop-header {
    text-transform: uppercase;
    height: 55px;
    line-height: 53px;
    padding: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700; }
  .woocommerce .woocommerce-message .button {
    background-color: #740e12;
    color: white;
    text-align: center; }
  .woocommerce .woocommerce-form__label {
    margin-bottom: 0;
    position: relative;
    padding-right: 15px; }
    .woocommerce .woocommerce-form__label span {
      font-size: 20px; }
    .woocommerce .woocommerce-form__label #ship-to-different-address-checkbox {
      position: absolute;
      right: -5px;
      top: 5px; }
  .woocommerce .wc-proceed-to-checkout {
    text-align: right; }
  .woocommerce a.remove {
    font-size: 33px !important;
    color: #f18928 !important; }
    .woocommerce a.remove:hover {
      background-color: #f18928 !important;
      color: white; }
  .woocommerce a.button.wc-backward {
    background-color: #740e12;
    color: white; }
  .woocommerce a.button.alt {
    background-color: #740e12; }
    .woocommerce a.button.alt:hover {
      background-color: #740e12;
      opacity: 0.95; }
  .woocommerce .woocommerce-Price-amount.amount {
    font-size: 18px;
    color: #740e12;
    font-weight: 900; }
  .woocommerce button.button {
    background-color: #740e12;
    color: white !important;
    font-weight: 400;
    border: 1px solid transparent;
    height: 40px; }
    .woocommerce button.button:hover {
      background-color: black;
      color: white;
      opacity: 0.8; }
  .woocommerce table.my_account_orders td {
    padding: 0 15px;
    border: none; }
  .woocommerce table.cart img {
    display: block;
    padding: 20px 0; }
  .woocommerce table.cart td.actions .input-text {
    width: 140px;
    margin-right: 10px;
    height: 39px;
    padding: 0 10px; }
  .woocommerce table.shop_table {
    border-radius: 0;
    border: none; }
    .woocommerce table.shop_table .woocommerce-cart-form__cart-item .product-name a {
      color: black;
      font-size: 24px;
      font-weight: 900;
      padding: 0; }
    .woocommerce table.shop_table tbody th {
      font-weight: 400; }
    .woocommerce table.shop_table td.product-price .woocommerce-Price-amount.amount {
      font-weight: 400; }
    .woocommerce table.shop_table td a {
      color: black;
      font-size: 18px;
      font-weight: 700;
      display: block; }
  .woocommerce table.my_account_orders {
    margin-bottom: 0; }

.cart_totals h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px; }

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: #740e12; }

@media (max-width: 991.9px) {
  .woocommerce .wc-proceed-to-checkout {
    text-align: left; }
  .woocommerce .cart-collaterals .cart_totals {
    width: 100%;
    margin-top: 40px; }
  .woocommerce table.cart td.actions .input-text {
    width: 140px;
    margin-right: 0; }
  .woocommerce table.shop_table .woocommerce-cart-form__cart-item .product-name a {
    font-size: 16px; }
  .woocommerce table.shop_table td a {
    font-size: 15px; } }
@media (max-width: 768px) {
  .woocommerce table.shop_table_responsive tr:nth-child(2n) td {
    background-color: white; }

  .cart_totals h2 {
    font-size: 21px; }

  .woocommerce .square-header {
    font-size: 21px; }
  .woocommerce a.remove {
    font-size: 50px !important; }
  .woocommerce a.button.alt {
    text-align: center; }
  .woocommerce table.shop_table_responsive .woocommerce-cart-form__cart-item {
    position: relative;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc7c7;
    display: flex;
    flex-wrap: wrap; }
    .woocommerce table.shop_table_responsive .woocommerce-cart-form__cart-item:last-of-type {
      padding-bottom: 0; }
    .woocommerce table.shop_table_responsive .woocommerce-cart-form__cart-item td {
      display: block;
      width: 50%;
      flex: 0 0 50%; }
  .woocommerce table.shop_table td {
    border-top: none; }
  .woocommerce table.cart td.product-thumbnail {
    display: block;
    width: 33%;
    flex: 0 0 33%; }
    .woocommerce table.cart td.product-thumbnail::before {
      display: none; }
  .woocommerce table.cart td.product-remove {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    padding: 0; }
  .woocommerce table.cart td.product-price, .woocommerce table.cart td.product-quantity, .woocommerce table.cart td.product-subtotal {
    width: 33%;
    flex: 0 0 33%; }
  .woocommerce table.cart td.product-quantity {
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray; }
  .woocommerce table.cart td.product-name {
    display: flex;
    align-items: center;
    text-align: left !important;
    width: 67%;
    flex: 0 0 67%;
    padding-right: 60px; }
    .woocommerce table.cart td.product-name::before {
      display: none; }
    .woocommerce table.cart td.product-name a {
      padding-left: 1px !important; }
  .woocommerce table.cart td.actions .coupon {
    padding-bottom: 0; }
    .woocommerce table.cart td.actions .coupon .input-text {
      width: 100%; }
    .woocommerce table.cart td.actions .coupon .button {
      width: 100%;
      margin: 10px 0; }
  .woocommerce .button.button {
    width: 100%;
    margin: 10px 0; } }
@media (max-width: 575.9px) {
  .woocommerce table.my_account_orders td {
    padding: 0; }

  .cart-empty {
    font-size: 24px; } }
@media (max-width: 479px) {
  .woocommerce table.cart td.product-thumbnail, .woocommerce table.cart td.product-name {
    width: 100%;
    flex: 0 0 100%; }
  .woocommerce table.cart td.product-price, .woocommerce table.cart td.product-quantity, .woocommerce table.cart td.product-subtotal {
    text-align: left !important;
    position: relative;
    padding-top: 20px; }
    .woocommerce table.cart td.product-price::before, .woocommerce table.cart td.product-quantity::before, .woocommerce table.cart td.product-subtotal::before {
      position: absolute;
      left: 12px;
      top: 0;
      font-size: 13px;
      letter-spacing: 0.05em; }
  .woocommerce table.cart td.product-quantity {
    border: none; }
    .woocommerce table.cart td.product-quantity .screen-reader-text {
      display: none; }
  .woocommerce table.cart td.product-price, .woocommerce table.cart td.product-quantity {
    flex: 0 0 50%;
    width: 50%; }
  .woocommerce table.cart td.product-subtotal {
    width: 100%;
    flex: 0 0 100%; } }
.woocommerce .order-total .woocommerce-Price-amount.amount {
  color: #f18928;
  font-size: 21px; }
.woocommerce table.shop_table.woocommerce-checkout-review-order-table .cart-subtotal {
  margin-top: 15px; }
.woocommerce table.shop_table.woocommerce-checkout-review-order-table .cart_item .woocommerce-Price-amount.amount {
  color: black;
  font-weight: 400; }
.woocommerce table.shop_table.woocommerce-checkout-review-order-table td {
  border: none;
  padding: 0; }
  .woocommerce table.shop_table.woocommerce-checkout-review-order-table td.product-name {
    width: auto; }
.woocommerce table.shop_table.woocommerce-checkout-review-order-table th {
  border: none;
  padding: 0;
  font-size: 20px; }
  .woocommerce table.shop_table.woocommerce-checkout-review-order-table th.product-name {
    width: auto; }

#order_review_heading {
  margin: 20px 0;
  font-size: 24px;
  color: black;
  font-weight: 700; }

.woocommerce-info {
  border-top-color: #740e12; }
  .woocommerce-info:before {
    color: #740e12; }

.woocommerce-checkout #payment {
  background-color: #740e12;
  color: white;
  font-weight: 400;
  border-radius: 0; }
  .woocommerce-checkout #payment .form-row {
    width: 100% !important; }
  .woocommerce-checkout #payment div.payment_box {
    background-color: #740e12;
    padding: 0;
    font-weight: 300;
    letter-spacing: 0.025em; }
    .woocommerce-checkout #payment div.payment_box::before {
      display: none; }
    .woocommerce-checkout #payment div.payment_box p {
      color: white;
      font-weight: 400; }
  .woocommerce-checkout #payment .wc_payment_method {
    font-size: 20px;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin: 0; }
  .woocommerce-checkout #payment ul.payment_methods {
    border-bottom: 1px solid darkgray; }

.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3 {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin: 30px 0; }

.woocommerce button {
  outline: none !important; }
  .woocommerce button.button.alt {
    background-color: #f18928; }
    .woocommerce button.button.alt:hover {
      background-color: #f18928;
      opacity: 0.85; }
.woocommerce form.checkout_coupon {
  border: 1px solid #ccc;
  border-radius: 0; }
.woocommerce form .form-row {
  display: inline-block;
  width: 50%; }
  .woocommerce form .form-row.notes {
    width: 100%; }
    .woocommerce form .form-row.notes textarea {
      padding: 10px;
      border: 1px solid #ccc; }
  .woocommerce form .form-row .required {
    color: #740e12; }
  .woocommerce form .form-row#billing_address_2_field {
    display: none !important; }
  .woocommerce form .form-row input.input-text {
    height: 40px;
    padding: 2.5px 10px;
    border: 1px solid #ccc; }
.woocommerce .showcoupon {
  color: #740e12;
  font-size: 16px;
  font-weight: 700; }
.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2 {
  max-width: 100%;
  padding: 0;
  width: 100%; }

.select2-container {
  position: relative;
  top: -5px; }
  .select2-container .select2-selection--single {
    height: 40px;
    outline: none;
    border-radius: 0px;
    border: 1px solid #ccc; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      line-height: 40px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px; }

@media (max-width: 991.9px) {
  .woocommerce table.shop_table.woocommerce-checkout-review-order-table {
    display: flex;
    flex-flow: row wrap;
    width: 100%; }
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table thead,
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody,
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot,
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table tr {
      display: flex;
      flex-flow: row wrap;
      width: 100%; }
      .woocommerce table.shop_table.woocommerce-checkout-review-order-table thead .product-name,
      .woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody .product-name,
      .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot .product-name,
      .woocommerce table.shop_table.woocommerce-checkout-review-order-table tr .product-name {
        width: 50%;
        display: block;
        padding-right: 5px;
        font-size: 14px; }
      .woocommerce table.shop_table.woocommerce-checkout-review-order-table thead .product-total,
      .woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody .product-total,
      .woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot .product-total,
      .woocommerce table.shop_table.woocommerce-checkout-review-order-table tr .product-total {
        width: 50%;
        display: block;
        padding-left: 5px; }
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table .cart-subtotal th,
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table .shipping th,
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table .order-total th {
      width: 50%;
      padding-right: 5px; }
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table .cart-subtotal td,
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table .shipping td,
    .woocommerce table.shop_table.woocommerce-checkout-review-order-table .order-total td {
      width: 50%;
      padding-left: 5px; } }
@media (max-width: 575.9px) {
  .woocommerce .woocommerce-Price-amount.amount {
    font-size: 16px; }
  .woocommerce table.shop_table.woocommerce-checkout-review-order-table .cart_item .woocommerce-Price-amount.amount {
    font-size: 15px; }
  .woocommerce form .form-row {
    width: 100%; } }
.woocommerce-column__title {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin: 20px 0; }

.woocommerce-order-details__title {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin: 20px 0; }

.woocommerce tfoot tr:last-of-type .woocommerce-Price-amount.amount {
  font-size: 20px;
  color: #f18928; }
.woocommerce .woocommerce-order-overview__total .woocommerce-Price-amount.amount {
  font-size: 20px;
  color: #f18928; }
.woocommerce table.shop_table .woocommerce-table__product-total .woocommerce-Price-amount.amount {
  color: black;
  font-weight: 600; }
.woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-number {
  width: 20%;
  padding: 0 !important;
  text-align: left !important; }
  .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-number a {
    font-weight: 900 !important;
    font-size: 18px !important; }
    .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-number a span {
      font-weight: 400 !important; }
.woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-item-name {
  width: 30%; }
.woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-total {
  width: 20%; }
.woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-status {
  width: 20%; }
.woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-actions {
  width: 10%;
  padding-right: 0; }
  .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-actions .buttons a {
    margin-left: auto; }
.woocommerce table.order_details th {
  font-size: 20px; }
.woocommerce table.order_details .product-name {
  width: auto; }
.woocommerce .woocommerce-order-details {
  margin-bottom: 0; }
.woocommerce ul.order_details {
  margin: 0 0 30px; }
.woocommerce .woocommerce-customer-details {
  margin-bottom: 0; }
  .woocommerce .woocommerce-customer-details address {
    padding: 10px 15px;
    font-size: 15px;
    color: black;
    border-radius: 0; }

.woocommerce-thankyou-order-received {
  font-size: 22px;
  border-bottom: 1px solid;
  margin-bottom: 30px; }

@media (max-width: 991.9px) {
  .woocommerce ul.order_details li {
    float: none;
    margin: 0 0 15px;
    border-right: none; }
  .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-number {
    display: block;
    width: 100%; }
  .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-total {
    display: block;
    width: 33.33%;
    margin-top: 25px;
    padding-left: 0; }
  .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-status {
    display: block;
    width: 33.33%;
    margin-top: 25px; }
  .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-actions {
    display: block;
    width: 33.33%;
    margin-top: 25px; }
  .woocommerce table.shop_table_responsive .ordered-product {
    display: flex !important;
    flex-flow: row wrap;
    align-items: center; }
    .woocommerce table.shop_table_responsive .ordered-product .small-button {
      width: 125px;
      font-size: 14px; }
    .woocommerce table.shop_table_responsive .ordered-product .status .not-pay {
      font-size: 17px; }
    .woocommerce table.shop_table_responsive .ordered-product .status .pay {
      font-size: 17px; }
    .woocommerce table.shop_table_responsive .ordered-product .desc {
      font-size: 21px; } }
@media (max-width: 768px) {
  .woocommerce table.shop_table_responsive tr td {
    text-align: left !important; }
    .woocommerce table.shop_table_responsive tr td::before {
      display: none !important; } }
@media (max-width: 767.9px) {
  .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-number a {
    font-size: 22px !important; }
  .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-total, .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-status, .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-actions {
    width: 100%;
    padding: 0; }
    .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-total .buttons a, .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-status .buttons a, .woocommerce table.shop_table_responsive .woocommerce-orders-table__cell-order-actions .buttons a {
      margin-left: 0; } }
@media (max-width: 575.9px) {
  .woocommerce-order-details__title {
    font-size: 24px; }

  .woocommerce-column__title {
    font-size: 24px; } }
.woocommerce #customer_login.col2-set .col-1,
.woocommerce #customer_login.col2-set .col-2 {
  max-width: 50%; }
.woocommerce form.login, .woocommerce form.register {
  border: none;
  padding: 0; }
  .woocommerce form.login .custom-inputs .custom-input, .woocommerce form.register .custom-inputs .custom-input {
    top: 9px; }
  .woocommerce form.login .form-row label, .woocommerce form.register .form-row label {
    display: block;
    margin: 10px 0; }
    .woocommerce form.login .form-row label span, .woocommerce form.register .form-row label span {
      font-size: 17px;
      color: #4f4f4f; }
  .woocommerce form.login .woocommerce-LostPassword a, .woocommerce form.register .woocommerce-LostPassword a {
    font-size: 14px;
    color: #f18928; }
    .woocommerce form.login .woocommerce-LostPassword a:hover, .woocommerce form.register .woocommerce-LostPassword a:hover {
      color: #740e12; }

@media (max-width: 991.9px) {
  .woocommerce #customer_login.col2-set .col-1,
  .woocommerce #customer_login.col2-set .col-2 {
    max-width: 100%; } }

/*# sourceMappingURL=style.css.map */
